{% extends 'base_admin.html' %}
{% load permissionif %}
{% block title %}{{h2}} | Lens and Lights at WPI{% endblock %}
{% block content %}
<h2> {{ h2 }} </h2>
<br>
{% if items %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ resource_type }}</th>
            <th>{{ header_1 }}</th>
            <th>{{ header_2 }}</th>
            {% if device_view %}
                <th>Status</th>
            {% else %}
                {% permission request.user has 'devices.manage_apps' %}
                    <th>Assigned to</th>
                {% endpermission %}
                <th>Installed on</th>
            {% endif %}
            <th>Actions</th>
        </tr>
        {% if resource_type == 'Profile' %}
            {% for profile in items %}
                <tr>
                    <td>{% if profile.downloadable %}
                        <a href="{% url "mdm:install" device_id %}">{{ profile.filename }}</a>
                    {% else %}
                        {{ profile.filename }}
                    {% endif %}</td>
                    {% if device_view %}
                        {% if profile.install_record %}
                        <td>{% if profile.install_record.version == "RM" %}--{% else %}
                        {{ profile.install_record.version|default_if_none:"--" }}{% endif %}</td>
                        <td>{{ profile.install_record.expires|default_if_none:"Never" }}{% if profile.expires_soon %}<br>
                            <span class="label label-danger">Expiring Soon</span>{% endif %}</td>
                        {% else %}
                            <td>--</td>
                            <td>N/A</td>
                        {% endif %}
                        <td>{% if profile.install_record.version == "RM" %}Pending Removal
                        {% else %}{{ profile.status }}{% endif %}</td>
                    {% else %}
                        <td>{{ profile.type }}</td>
                        <td>{{ profile.meta.last_modified }}</td>
                        <td>{{ profile.assignment_count }} device{{ profile.assignment_count|pluralize }}</td>
                        <td>{{ profile.install_count }} device{{ profile.install_count|pluralize }}</td>
                    {% endif %}
                    <td>{% if device_view %}
                        <a class="btn btn-danger" href="{% url "mdm:disassociate" device_id profile.meta.pk %}">
                            {% if profile.status == 'Assigned' %}Cancel{% else %}Remove{% endif %}</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url "mdm:edit" profile.meta.pk %}">Edit</a>
                        <a class="btn btn-primary" href="{% url "mdm:assignments" profile.meta.pk %}">Manage Devices</a>
                        <a class="btn btn-danger" href="{% url "mdm:delete" profile.meta.pk %}">Delete</a>
                    {% endif %}</td>
                </tr>
            {% endfor %}
        {% elif resource_type == 'App' %}
            {% for app in items %}
                <tr>
                    <td><a href="{% url "mdm:app-detail" app.meta.pk %}">{{ app.meta.name }}</a></td>
                    <td>{{ app.meta.developer }}</td>
                    <td>{{ app.meta.version }}</td>
                    {% if device_view %}
                        <td>{{ app.status }}</td>
                    {% else %}
                        {% permission request.user has 'devices.manage_apps' %}<td>{{ app.assignment_count }} device{{ app.assignment_count|pluralize }}</td>{% endpermission %}
                        <td>{{ app.installed|join:', ' }}</td>
                    {% endif %}
                    <td>{% if device_view %}
                        <a class="btn btn-danger" href="{% url "mdm:uninstall-app" device_id app.meta.pk %}">
                            {% if app.status == 'Installed' %}Remove{% else %}Cancel{% endif %}</a>
                    {% else %}
                        {% permission request.user has 'devices.manage_apps' %}
                        <a class="btn btn-primary" href="{% url "mdm:edit-app" app.meta.pk %}">Edit</a>
                        <a class="btn btn-primary" href="{% url "mdm:app-devices" app.meta.pk %}">Manage Devices</a>
                        <a class="btn btn-danger" href="{% url "mdm:remove-app" app.meta.pk %}">Delete</a>
                        {% elpermission request.user has 'devices.view_apps' %}
                        None
                        {% endpermission %}
                    {% endif %}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endif %}
<div>
    <b>Total: {{ items | length }}</b>
    <br><br>
    {% if device_view %}
        <a class="btn btn-large btn-primary" {% if resource_type == 'Profile' %}href="{% url "mdm:add-profiles" device_id %}"
        {% elif resource_type == 'App' %}href="{% url "mdm:assign-apps" device_id %}"{% endif %}>Add {{ resource_type }}s</a>
    {% else %}
        <a class="btn btn-large btn-primary" {% if resource_type == 'Profile' %}href="{% url "mdm:generate" %}"
        {% elif resource_type == 'App' %}href="{% url "mdm:add-app" %}"{% endif %}>New {{ resource_type }}</a>
    {% endif %}
</div>
{% endblock %}
