{% extends 'base_admin.html' %}
{% block content %}
<h2> {{ h2 }} </h2>
{% if items %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>{{ resource_type }}</th>
            <th>{{ header_1 }}</th>
            <th>{{ header_2 }}</th>
            {% if device_view %}
                <th>Status</th>
            {% else %}
                <th>Assigned to</th>
                <th>Installed on</th>
            {% endif %}
            <th>Actions</th>
        </tr>
        {% if resource_type == 'Profile' %}
            {% for profile in items %}
                <tr>
                    <td>{% if profile.downloadable %}
                        <a href="{% url "mdm:install" device_id %}">{{ profile.filename }}</a>
                    {% else %}
                        {{ profile.filename }}
                    {% endif %}</td>
                    {% if device_view %}
                        {% if profile.install_record %}
                        <td>{% if profile.install_record.version == "RM" %}--{% else %}
                        {{ profile.install_record.version|default_if_none:"--" }}{% endif %}</td>
                        <td>{{ profile.install_record.expires|default_if_none:"Never" }}{% if profile.expires_soon %}<br>
                            <span class="label label-danger">Expiring Soon</span>{% endif %}</td>
                        {% else %}
                            <td>--</td>
                            <td>N/A</td>
                        {% endif %}
                        <td>{% if profile.install_record.version == "RM" %}Pending Removal
                        {% else %}{{ profile.status }}{% endif %}</td>
                    {% else %}
                        <td>{{ profile.type }}</td>
                        <td>{{ profile.meta.last_modified }}</td>
                        <td>{{ profile.assignment_count }} device{{ profile.assignment_count|pluralize }}</td>
                        <td>{{ profile.install_count }} device{{ profile.install_count|pluralize }}</td>
                    {% endif %}
                    <td>{% if device_view %}
                        <a class="btn btn-danger" href="{% url "mdm:disassociate" device_id profile.meta.pk %}">
                            {% if profile.status == 'Assigned' %}Cancel{% else %}Remove{% endif %}</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url "mdm:edit" profile.meta.pk %}">Edit</a>
                        <a class="btn btn-primary" href="{% url "mdm:assignments" profile.meta.pk %}">Manage Devices</a>
                        <a class="btn btn-danger" href="{% url "mdm:delete" profile.meta.pk %}">Delete</a>
                    {% endif %}</td>
                </tr>
            {% endfor %}
        {% elif resource_type == 'App' %}
            {% for app in items %}
                <tr>
                    <td>{{ app.name }}</td>
                    <td>{{ app.developer }}</td>
                    <td>{{ app.version }}</td>
                    {% if device_view %}
                        <td>{{ app.status }}</td>
                    {% else %}
                        <td>{{ app.assignment_count }} app{{ app.assignment_count|pluralize }}</td>
                        <td>{{ app.install_count }} app{{ app.install_count|pluralize }}</td>
                    {% endif %}
                    <td>{% if device_view %}
                        <a class="btn btn-danger" href="{% url "mdm:disassociate" device_id app.meta.pk %}">Uninstall</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url "mdm:edit" app.meta.pk %}">Update Version</a>
                        <a class="btn btn-primary" href="{% url "mdm:assignments" app.meta.pk %}">Manage Devices</a>
                        <a class="btn btn-danger" href="{% url "mdm:delete" app.meta.pk %}">Delete</a>
                    {% endif %}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endif %}
<div>
    <b>Total: {{ items | length }}</b>
    <br><br>
    {% if device_view %}
        <a class="btn btn-large btn-primary" {% if resource_type == 'Profile' %}href="{% url "mdm:add-profiles" device_id %}"
        {% elif resource_type == 'App' %}href="{% url "mdm:profiles" %}"{% endif %}>Add {{ resource_type }}s</a>
    {% else %}
        <a class="btn btn-large btn-primary" {% if resource_type == 'Profile' %}href="{% url "mdm:generate" %}"
        {% elif resource_type == 'App' %}href="{% url "mdm:generate" %}"{% endif %}>New {{ resource_type }}</a>
    {% endif %}
</div>
{% endblock %}
