{% extends 'base_admin.html' %}

{% block title %}Checkout Receipt | Lens and Lights at WPI{% endblock %}
{% block content %}
    <p style="float: right"><a href="{% url 'inventory:snipe_checkout' %}?checkout_to={{ checkout_to }}" class="btn btn-primary">Check out more items</a></p>
    <p>The information below has been emailed to you.</p>
    <h1>Checkout Receipt</h1>
    <p>
        {% now 'F jS, Y H:i' %}<br>
        {{ num_assets }} assets checked out<br>
        {{ num_accessories }} accessories checked out<br>
        Checked out to {{ checkout_to_name }}<br>
        {% if total %}
            Total rental price: ${{ total|floatformat:2 }}/week
        {% else %}
            Total rental price cannot be calculated because some items are missing rental prices.
        {% endif %}
    </p>
    <h2>Items checked out</h2>
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Asset Name</th>
                    <th>Rental Price (per week)</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for asset_tag, asset_info in receipt_info.items %}
                    <tr>
                        <td>{{ asset_tag }}</td>
                        <td>{{ asset_info.name|safe }}</td>
                        <td>{% if asset_info.rental_price %}${{ asset_info.rental_price|floatformat:2 }}{% endif %}</td>
                        <td>{{ asset_info.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
    {% if errors %}
    <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="h5">Unfortunately, the following items may not have been checked out:</h4>
        <ul>
        {% for error in errors %}
            <li>{{ error.item.tag }} ({{ error.item.name|safe }}) - <span style="color: red">{{ error.reason }}</span></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
