{% extends 'base_admin.html' %}

{% block title %}Checkin Receipt | Lens and Lights at WPI{% endblock %}
{% block content %}
    <p style="float: right"><a href="{% url 'inventory:snipe_checkin' %}?checkin_from={{ checkin_from }}" class="btn btn-primary">Check in more items</a></p>
    <p>The information below has been emailed to you.</p>
    <h1>Checkin Receipt</h1>
    <p>
        {% now 'F jS, Y H:i' %}<br>
        {{ num_assets }} assets checked in{% if num_extra_assets %}<span style="color:red;"> + {{ num_extra_assets }} extra</span>{% endif %}<br>
        {{ num_accessories }} accessories checked in{% if num_extra_accessories %}<span style="color:red;"> + {{ num_extra_accessories }} extra</span>{% endif %}<br>
        Checked in from {{ checkin_from_name }}<br>
        {% if total %}
            Total rental price: ${{ total|floatformat:2 }}/week
        {% else %}
            Total rental price cannot be calculated because some items are missing rental prices.
        {% endif %}
    </p>
    <h2>Items checked in</h2>
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Asset Name</th>
                    <th>Rental Price (per week)</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for asset_tag, asset_info in receipt_info.items %}
                    <tr>
                        <td>{{ asset_tag }}</td>
                        <td>{{ asset_info.name|safe }}</td>
                        <td>{% if asset_info.rental_price %}${{ asset_info.rental_price|floatformat:2 }}{% endif %}</td>
                        <td>{{ asset_info.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
    {% if receipt_info_extra %}
        <h2 style="color:red;">Extra items checked in</h2>
        <p>The following items were entered into the checkin form but they were never checked out to the specified user in the first place.</p>
        <p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Asset Tag</th>
                        <th>Asset Name</th>
                        <th>Rental Price (per week)</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asset_tag, asset_info in receipt_info_extra.items %}
                        <tr>
                            <td>{{ asset_tag }}</td>
                            <td>{{ asset_info.name|safe }}</td>
                            <td>{% if asset_info.rental_price %}${{ asset_info.rental_price|floatformat:2 }}{% endif %}</td>
                            <td>{{ asset_info.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </p>
    {% endif %}
    {% if errors %}
    <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="h5">Unfortunately, the following items may not have been checked back in:</h4>
        <ul>
        {% for error in errors %}
            <li>{{ error.item.tag }} ({{ error.item.name|safe }}) - <span style="color: red">{{ error.reason }}</span></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
