{% extends 'jumbotron.html' %}
{% load markdown_deux_tags %}
{% load permissionif %}
{% load static %}

{% block title %}
    {{ item }} - {{ block.super }}
{% endblock %}


{% block jumbotitle %}
    {{ item }}
{% endblock %}

{% block jumbosubtitle %}
    Type: <a href="{% url 'inventory:type_detail' item.item_type.pk %}">{{ item.item_type }}</a>
    <br>
    {% if item.case %}
        Inside <a href="{% url 'inventory:item_detail' item.case.pk %}">{{ item.case }}</a>
    {% endif %}
{% endblock %}

{% block buttons %}
    {% comment %}
    {% permission request.user has 'inventory.add_ticket' %}
        <a class="btn btn-primary btn-lg"
           href="{% url 'inventory:ticket_add' item.pk %}"
           role="button">Make TF</a>
    {% endpermission %}
    {% permission request.user has 'inventory.change_equipmentitem' %}
        <a class="btn btn-default btn-lg"
           href="{% url 'inventory:item_edit' item.pk %}"
           role="button">Edit Item</a>
    {% endpermission %}
    {% permission request.user has 'inventory.delete_equipmentitem' and not item.unsafe_to_delete %}
        <a class="btn btn-danger btn-lg"
           href="#rmItemModal"
           role="button"
           data-toggle="modal">
            Delete Item
        </a>
    {% endpermission %}
    {% endcomment %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h3>Basic Info</h3>

            <div class="well eqp-item">
                <b> Status:
                    <span class="glyphicon glyphicon-{{ item.status.glyphicon }}" aria-hidden="true"></span>
                    {{ item.status }}
                </b>
                <br>

                {% if item.barcode %}
                    {{ item.barcode }}
                {% else %}
                    [No barcode; ID: {{ item.pk }}]
                {% endif %}

                <br>

                {% if item.features %}
                    {{ item.features }}
                    <br>
                {% endif %}

                Resides in {{ item.location }}
                {% if item.case %}
                    inside <a href="{% url 'inventory:item_detail' item.case.pk %}">{{ item.case }}</a>
                {% endif %}

                <br>

                Purchased {{ item.purchase_date }}
            </div>
        </div>
        {% if item.contents.all %}
            <div class="col-md-4">
                <h3>Contains</h3>
                {% for subitem in item.contents.all %}
                    <div class="well eqp-item">
                        <a href="{% url 'inventory:item_detail' subitem.pk %}">
                            <b class="mini-title">
                                <span class="glyphicon glyphicon-{{ item.status.glyphicon }}" aria-hidden="true"></span>
                                {% if subitem.barcode %}
                                    Item #{{ subitem.barcode }}
                                {% else %}
                                    Item #{{ subitem.pk }} [no bc]
                                {% endif %}
                            </b>
                        </a>

                        <br>
                        {{ subitem.item_type }}
                        <br>
                        {% if subitem.features %}
                            {{ subitem.features }}
                            <br>
                        {% endif %}

                        Purchased {{ subitem.purchase_date }}
                    </div>
                {% endfor %}

            </div>
        {% endif %}

    {% comment %}
         <div class="col-md-4">
            <h3>Used At</h3>


        </div>
    {% endcomment %}
    </div>
{% endblock %}

{% block modals %}
    {% comment %}
    {% permission request.user has 'inventory.delete_equipmentitem' and not item.unsafe_to_delete %}
        <!-- RmItemModal -->
        <div id="rmItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="rmItemModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="rmItemModalLabel">Confirm Remove Item</h3>
                    </div>
                    <form action="{% url 'inventory:item_rm' item.pk %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p><b>Are you sure you want to delete {{ item }}?</b></p>
                            <p>There are no contained items here, but any metadata will be gone FOREVER.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Go Back</button>
                            <button type="submit" class="btn btn-danger">Yes, delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endpermission %}
    {% endcomment %}
{% endblock %}
