# mechanize
# BeautifulSoup
# frozen versions from prod.
app-version
dealer
Django==4.2.13
#django-ajax-selects
-e git+https://github.com/SukiCZ/django-ajax-selects.git@9be8292263dc03e14eeba00031f56304dcf5f8fd#egg=django-ajax-selects
django-appconf
# -e git+https://github.com/jmerdich/django-bootstrap-calendar.git@fbe22d9dd0b2c99e8a6d3a3ad8d41063e791432c#egg=django_bootstrap_calendar-master
-e git+https://github.com/WPI-LNL/django-bootstrap-calendar.git#egg=django_bootstrap_calendar
django-bootstrap3
#-e git+https://github.com/WPI-lnl/django-cas2.git@6220bc8ba6eb4643e3ef58b4830616f37f1a1a8f#egg=django_cas-origin_HEAD
django-compressor
django-crispy-forms
crispy-bootstrap3
# -e git+https://github.com/maraujop/django-crispy-forms.git@57e9e3f9c5deb2876aa5021599671d6a65e97ed0#egg=django_crispy_forms-dev
django-debug-toolbar
django-extensions
django-formtools
django-hijack
django-ical
django-lineage
django-markdown-deux
django-mptt
django-multiupload
#-e git+https://github.com/Chive/django-multiupload.git@ba52e161a68ce19062c3655e89544c2d377990a0#egg=django-multiupload
#django-natural-duration
-e git+https://github.com/WPI-LNL/django-natural-duration.git#egg=django-natural-duration
django-simplemde
django-permission2
django-reversion
django-uuidfield
django-watson
docutils
html5lib
icalendar
jsmin
line-profiler
Markdown
markdown2
mechanize
Paste
Pillow
#pisa
pyPdf
PyPDF2
python-dateutil
pytz
raven
reportlab
six
sqlparse
#tolerance
-e git+https://github.com/WPI-LNL/tolerance@335211c974e5e1d85289e1a8745ce01794b05225#egg=tolerance
xhtml2pdf
python-bidi==0.4.2
#django-cas-ng
ldap3
django-environ
django-polymorphic
fuzzywuzzy
pysaml2
grafana-django-saml2-auth
#-e git+https://github.com/WPI-LNL/django-saml2-auth.git@6348b4efcc7fc99dff5303846c60785026f67116#egg=django_saml2_auth
django-jchart
django-semanticui-forms
filetype
slack-sdk
django-multiselectfield
drf-spectacular
spotipy
qrcode
levenshtein
msal
