#### TODO: put version numbers for these
mechanize
BeautifulSoup
#### ^^^ Check if actually needed. Currently only in the unused scrapers.
Django<1.9
Markdown
pillow
pisa
pytz
django-lineage
django-bootstrap-toolkit
-e git://github.com/WPI-lnl/django-cas2.git#egg=django_cas-dev
# django-ajax-selects >= 1.3.7
# replace it once ajax-selects releases 1.3.7
-e git+https://github.com/crucialfelix/django-ajax-selects@34ef412#egg=django-ajax-selects
-e git+https://github.com/jmerdich/django-bootstrap-calendar.git#egg=django_bootstrap_calendar
# django-crispy-forms>= 1.4.1
# replace it once d-c-f releases 1.4.1
-e git+https://github.com/maraujop/django-crispy-forms.git@dev#egg=django-crispy-forms
django-uuidfield
# TODO: migrate ^^^
flup
raven
xhtml2pdf==0.0.6
reportlab
django-markdown-deux
django-ical
django-debug-toolbar
django-watson
django-formtools
django-debug-toolbar-line-profiler
django-debug-toolbar-template-profiler
django-permission
django-hijack
django-multiupload
django-extensions
django-reversion
django-pagedown
docutils
django-mptt
django-natural-duration
