#### TODO: put version numbers for these
mechanize
BeautifulSoup
#### ^^^ Check if actually needed. Currently only in the unused scrapers.
Django<1.9
Markdown
pillow
pisa
pytz
django-lineage
django-bootstrap-toolkit
-e git://github.com/gmorell/django-cas2.git#egg=django_cas-dev
django-ajax-selects
-e git+https://github.com/jmerdich/django-bootstrap-calendar.git#egg=django_bootstrap_calendar
django-crispy-forms>= 1.4
django-uuidfield
# TODO: migrate ^^^
flup
raven
xhtml2pdf==0.0.6
reportlab
django-markdown-deux
django-ical
django-debug-toolbar
django-watson
django-formtools
django-debug-toolbar-line-profiler
django-debug-toolbar-template-profiler
django-hijack