alabaster==1.0.0
app-version
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
attrs==24.3.0
babel==2.16.0
boto3==1.35.90
botocore==1.35.90
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
coverage==7.6.10
coveralls==4.0.1
crispy-bootstrap3==2024.1
cryptography==45.0.7
cssselect2==0.8.0
dealer==2.1.0
defusedxml==0.7.1
dictor==0.1.12
Django==5.2.6
-e git+https://github.com/SukiCZ/django-ajax-selects.git@9be8292263dc03e14eeba00031f56304dcf5f8fd#egg=django_ajax_selects
django-appconf==1.0.6
django-bootstrap3==24.3
django-compressor==4.5.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-easymde==1.0.4
django-environ==0.11.2
django-extensions==3.2.3
django-formtools==2.5.1
django-hijack==3.7.1
django-ical==1.9.2
django-jchart==0.4.2
django-js-asset==3.0.1
django-lineage==0.2.0
django-markdown-deux==1.0.6
django-mptt==0.16.0
django-multiselectfield==0.1.13
django-multiupload==0.6.1
-e git+https://github.com/WPI-LNL/django-natural-duration.git@ea6d19a2a7dae82543a78ecf3abf5b83c12688dd#egg=django_natural_duration
django-nose==1.4.7
django-permission2==2.1.0
django-polymorphic==3.1.0
django-recurrence==1.11.1
django-reversion==5.1.0
django-semanticui-forms==1.6.5
django-storages==1.14.4
django-test-without-migrations==0.6
django-uuidfield==0.5.0
django-watson==1.6.3
djangorestframework==3.15.2
docopt==0.6.2
docutils==0.21.2
drf-spectacular==0.28.0
elementpath==4.7.0
factory_boy==3.3.1
Faker==33.1.0
filetype==1.2.0
fuzzywuzzy==0.18.0
grafana-django-saml2-auth==3.18.1
gunicorn==23.0.0
html5lib==1.1
icalendar==6.1.0
idna==3.10
imagesize==1.4.1
inflection==0.5.1
Jinja2==3.1.6
jmespath==1.0.1
jsmin==3.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
ldap3==2.9.1
Levenshtein==0.26.1
line_profiler==4.2.0
lxml==5.3.0
Markdown==3.7
markdown2==2.5.2
MarkupSafe==3.0.2
mechanize==0.4.10
model-bakery==1.20.0
msal==1.31.1
nose==1.3.7
oscrypto==1.3.0
packaging==24.2
Paste==3.10.1
pep8==1.7.1
pillow==11.0.0
pyasn1==0.6.1
pycparser==2.22
Pygments==2.18.0
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
PyJWT==2.10.1
pyOpenSSL==24.3.0
pypdf==5.1.0
PyPDF2==3.0.1
pysaml2==7.5.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
qrcode==8.0
RapidFuzz==3.11.0
raven==6.10.0
rcssmin==1.1.2
redis==5.2.1
referencing==0.35.1
reportlab==4.2.5
requests==2.32.3
rjsmin==1.2.2
rpds-py==0.22.3
s3transfer==0.10.4
setuptools==75.6.0
six==1.17.0
slack_sdk==3.34.0
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinx-issues==5.0.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spotipy==2.24.0
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
-e git+https://github.com/WPI-LNL/tolerance@335211c974e5e1d85289e1a8745ce01794b05225#egg=tolerance
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.3.0
webencodings==0.5.1
weasyprint==52.5
whitenoise==6.8.2
xhtml2pdf==0.2.16
xmlschema==2.5.1
