# mechanize
# BeautifulSoup
# frozen versions from prod.
app-version==1.0.1
dealer==2.1.0
Django==5.0.3
django-compat==1.0.15
django-ajax-selects==2.0.0
django-appconf==1.0.4
# -e git+https://github.com/jmerdich/django-bootstrap-calendar.git@fbe22d9dd0b2c99e8a6d3a3ad8d41063e791432c#egg=django_bootstrap_calendar-master
-e git+https://github.com/rrlapointe/django-bootstrap-calendar.git@7bc68b6e14e17246530db4fcf9c25c91fe2f2d1d#egg=django_bootstrap_calendar
django-bootstrap3==14.2.0
#-e git+https://github.com/WPI-lnl/django-cas2.git@6220bc8ba6eb4643e3ef58b4830616f37f1a1a8f#egg=django_cas-origin_HEAD
django-compressor==2.4
django-crispy-forms==1.9.2
# -e git+https://github.com/maraujop/django-crispy-forms.git@57e9e3f9c5deb2876aa5021599671d6a65e97ed0#egg=django_crispy_forms-dev
django-debug-toolbar==3.2.1
django-extensions==3.0.9
django-formtools==2.2
django-hijack==2.1.10
django-ical==1.7.1
django-lineage==0.2.0
django-markdown-deux==1.0.5
django-mptt==0.11.0
#django-multiupload2==0.5.3  # Current version doesn't support Django 2
-e git+https://github.com/Chive/django-multiupload.git@ba52e161a68ce19062c3655e89544c2d377990a0#egg=django-multiupload
#django-natural-duration==0.1
-e git+https://github.com/thomersch/django-natural-duration.git#egg=django-natural-duration
django-pagedown==1.0.6
django-permission==1.0.5
django-reversion==3.0.7
django-uuidfield==0.5.0
django-watson==1.5.5
docutils==0.16
html5lib==1.0.1
icalendar==4.0.7
#jsmin==2.2.2
-e git+https://github.com/serenecloud/jsmin@python3-only#egg=jsmin
line-profiler==3.1.0
Markdown==3.3.3
markdown2==2.4.13
mechanize==0.4.9
Paste==3.5.0
Pillow==10.2.0
#pisa==3.0.33
pyPdf==4.1.0
PyPDF2==3.0.1
python-dateutil==2.8.1
pytz==2020.4
raven==6.10.0
reportlab==3.6.5
six==1.15.0
sqlparse==0.4.2
#tolerance==0.1.2
-e git+https://github.com/WPI-LNL/tolerance@335211c974e5e1d85289e1a8745ce01794b05225#egg=tolerance
xhtml2pdf==0.2.5
django-cas-ng==4.1.1
ldap3==2.8.1
django-environ==0.4.5
django-polymorphic==3.0.0
fuzzywuzzy==0.18.0
pysaml2==6.1.0
-e git+https://github.com/WPI-LNL/django-saml2-auth.git@6348b4efcc7fc99dff5303846c60785026f67116#egg=django_saml2_auth
django-jchart==0.4.2
django-semanticui-forms==1.6.5
filetype==1.0.7
slack-sdk==3.9.1
django-multiselectfield==0.1.12
drf-spectacular==0.21.0
spotipy==2.19.0
qrcode==7.3.1
levenshtein==0.21.1
msal==1.24.1