{% extends 'base_admin.html' %}
{% load permissionif %}

{% block content %}
    <h1>Laptops</h1>
    <br>
    <div class="row">
        {% for laptop in laptops %}
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{ laptop }}</div>
                <div class="panel-body">
                    <p>{{ laptop.description|linebreaks }}</p>
                    {% permission request.user has 'devices.retrieve_user_password' of laptop %}
                        <a class="btn btn-default btn-block" href="{% url 'laptops:user-password' laptop.pk %}">View Password</a>
                    {% endpermission %}
                    {% permission request.user has 'devices.retrieve_admin_password' of laptop %}
                        <a class="btn btn-default btn-block" href="{% url 'laptops:admin-password' laptop.pk %}">View Admin Password</a>
                    {% endpermission %}
                    {% permission request.user has 'devices.view_laptop_history' of laptop %}
                        <a class="btn btn-default btn-block" href="{% url 'laptops:history' laptop.pk %}">View History</a>
                    {% endpermission %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% permission request.user has 'devices.view_apps' %}
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Software</div>
            <div class="panel-body">
                <a class="btn btn-primary" href="{% url 'mdm:apps' %}">Request Software</a>
            </div>
        </div>
    </div>
    {% endpermission %}
{% endblock %}
