.carousel {
  position: relative;
  margin-bottom: 20px;
  width: 1000px;
  height: 600px;
  margin: 0px auto;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel .item > img {
  display: block;
  height: 600px;
  margin: 0px auto;
  line-height: 1;
}