{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
    {% include "my.nav.html" %}
{% endblock %}

{% block extras %}
    {% if USE_CAS %}
    <script type="application/javascript">

        $(function () {
            var value = "; " + document.cookie;
            var parts = value.split("; prefer_cas=");
            if (parts.length == 2) {
                var cook = parts.pop().split(";").shift();
                $("#prefer_cas").prop('checked', cook == "true");
            }

            $("#prefer_cas").change(function () {
                var d = new Date();
                d.setTime(d.getTime() + (24 * 60 * 60 * 365 * 1000)); // a year is plenty
                document.cookie = "prefer_cas=" + $(this).is(":checked") + ";expires=" + d.toUTCString() + ";path=/";
            });
        });

    </script>
    {% endif %}
    {% if SAML2_ENABLED  %}
    <script type="application/javascript">

        $(function () {
            var value = "; " + document.cookie;
            var parts = value.split("; prefer_saml=");
            if (parts.length == 2) {
                var cook = parts.pop().split(";").shift();
                $("#prefer_saml").prop('checked', cook == "true");
            }

            $("#prefer_saml").change(function () {
                var d = new Date();
                d.setTime(d.getTime() + (24 * 60 * 60 * 365 * 1000)); // a year is plenty
                document.cookie = "prefer_saml=" + $(this).is(":checked") + ";expires=" + d.toUTCString() + ";path=/";
            });
        });

    </script>
    {% endif %}
{% endblock %}

{% block content %}

<div class="container marketing" style="text-align:center;">
    <div class="row">
        {% if USE_CAS or SAML2_ENABLED %}
            <div class="col-md-5 offset1">
                <h2> Login via WPI Account</h2>
                <p class="lead">If you are currently part of the WPI Community, you can login to the application via CAS or Microsoft Azure SSO.</p>
                {% if USE_CAS %}
                    <p>
                        <form>
                            <label>
                                <input type="checkbox" id="prefer_cas" name="prefer_cas">
                                Automatically send me to CAS in the future.
                            </label>
                        </form>
                        <a class="btn btn-lg btn-block btn-primary" href="{% url 'accounts:login' %}?force_cas=true{% if request.GET.next %}&next={{ request.GET.next | urlencode }}{% endif %}">CAS Login</a>
                    </p>
                {% endif %}
                {% if SAML2_ENABLED %}
                    <p>
                        <!--
                        <form>
                            <label>
                                <input type="checkbox" id="prefer_saml" name="prefer_saml">
                                Automatically send me to Microsoft SSO in the future.
                            </label>
                        </form>-->
                        <a class="btn btn-lg btn-block btn-primary" href="{% url 'accounts:login' %}?force_saml=true{% if request.GET.next %}&next={{ request.GET.next | urlencode }}{% endif %}"><!--Microsoft Login-->Testing do not push</a>
                    </p>
                {% endif %}
            </div>
        {% endif %}
        <div class="col-md-5 login">
            <h2> Login via Local Account </h2>
            {% crispy form %}
            <p class="muted text-muted"><a href="{% url "accounts:reset:start" %}"> Forgot your password? </a></p>
        </div>
    </div>
</div>

{% endblock %}
