{% autoescape off %}
LNL Password Reset

You're receiving this e-mail because you requested a password reset for your user account at LNL.WPI.EDU,Please go to the following page and choose a new password:
{% block reset_link %}
http://lnl.wpi.edu{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}. If this isn't you, you can safely ignore this email.

Thanks for using LNLDB

The LNLDB team.
{% endautoescape %}