{% extends 'base.html' %}

{% block nav %}
    {% include "my.nav.html" %}
{% endblock %}

{% block content %}
<div class="container marketing" style="text-align:center;">
    <div class="span6">
        <h2> Enter new password </h2>
        <p class="lead">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form class="form" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="hidden" name="next" value="{{next}}">
        <div class="footer">
            <button type="submit" name="re_event" class="btn btn-large btn-block btn-primary">Change My Password</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}