{% extends 'base.html' %}

{% block nav %}
    {% include "my.nav.html" %}
{% endblock %}

{% block content %}
<div class="container marketing" style="text-align:center;">
    <div class="span6 offset3">
        <h2> Password reset </h2>
        <p class="lead">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="email">{{ form.email.label_tag }}</label>
            <div class="controls">
                            {{ form.email }}
            </div>
        </div>

        <input type="hidden" name="next" value="{{next}}">
        <div class="footer">
            <button type="submit" name="re_event" class="btn btn-large btn-block btn-primary">Reset My Password</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}