{% extends "emails/email_base.html" %}
{% block perma %}
{% endblock %}

{% block unsub %}
{% endblock %}

{% block content %}
<table class="w960" width="960" cellpadding="10" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td class="w960" width="960">
                <p align="left" class="article-title">Organization Transfer Email</p>
                <div align="left" class="article-content">
                    
                    <p>Please Follow the link below in order to complete your organizational transfer.</p>
                    <a href="{% url "my-orgs-acceptxfer" object.uuid.hex %}">{% url "my-orgs-acceptxfer" object.uuid.hex %}</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="w960" width="960" height="10"></td>
        </tr>
        </tbody>
</table>
{% endblock %}