{% extends "emails/email_base.html" %}
{% block perma %}
{% endblock %}

{% block unsub %}
{% endblock %}

{% block content %}
<table class="w960" width="960" cellpadding="10" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td class="w960" width="960">
                <p align="left" class="article-title">Self Service Membership Request Form Filled</p>
                <div align="left" class="article-content">
                    
                    <p>
                    Requesting User: {{ user.get_full_name }}({{ user }}) <br />
                    Requesting User's Email: {{ user.email }} <br />
                    Requesting IP: {{ submitted_ip }} <br />
                    </p>
                    This user has requested to be marked an LNL member 
                </div>
            </td>
        </tr>
        <tr>
            <td class="w960" width="960" height="10"></td>
        </tr>
        </tbody>
</table>
{% endblock %}