{% extends "emails/email_base.html" %}
{% load tz %}
{% load lnldb_tags %}
{% block perma %}
{% endblock %}

{% block unsub %}
{% endblock %}

{% block content %}
<table class="w960" width="960" cellpadding="10" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td class="w960" width="960">
                <p align="left" class="article-title">{{ subject }}</p>
                <div align="left" class="article-content">
                    <p>
                        Thank you for choosing WPI Lens and Lights! We recently provided services for
                        {{ event.event_name|public_field }} and would love to hear about your experience working with
                        us. If you have a moment, please consider taking a short survey to let us know how we did. The
                        survey should take no more than 5 minutes and your response will help us understand how we can
                        improve our services in the future.<br><br>
                        Take the survey here:<br>
                        {% get_base_url %}{% url 'my:post-event-survey' event.pk %}
                    </p>
                    <a id="big-button" href="{% get_base_url %}{% url 'my:post-event-survey' event.pk %}">Take Survey</a>
                    <br><br>
                    <hr>
                    <p><b>{{ event.event_name|public_field }}</b><br>
                    <i>{{ event.location }}</i><br>
                    Start: {{ event.datetime_start }}<br>
                    End: {{ event.datetime_end }}<br>
                    Services: {{ event.short_services }}<br>
                    Organization to be billed: {{ event.org_to_be_billed }}</p>
                    <p>You can find the full details for this event <a href="{% get_base_url %}{% url 'events:detail' event.id %}">here</a>.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="w960" width="960" height="10"></td>
        </tr>
        </tbody>
</table>
{% endblock %}
