{% extends "emails/email_base.html" %}
{% load tz %}
{% load lnldb_tags %}
{% block perma %}
{% endblock %}

{% block unsub %}
{% endblock %}

{% block content %}
<table class="w960" width="960" cellpadding="10" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td class="w960" width="960">
                <p align="left" class="article-title">{{ subject }}</p>
                <div align="left" class="article-content">
                <p>You've been added as a crew chief to the event {{ ccinstance.event.event_name }}.<br>
                You have signed up to be crew chief for {{ ccinstance.category }},
                with your setup starting on {{ ccinstance.setup_start }} in the {{ ccinstance.setup_location }}.</p>

                <p>Please note that the attached Workorder PDF contains all services relating to the event, not just your assigned service.</p>

                <p><b>{{ ccinstance.event.event_name }}</b><br>
                <i>{{ ccinstance.event.location }}</i><br>
                Start: {{ ccinstance.event.datetime_start }}<br>
                End: {{ ccinstance.event.datetime_end }}<br>
                Setup start: {{ ccinstance.setup_start }}<br>
                Setup complete: {{ ccinstance.event.datetime_setup_complete }}</p>

                <p>See full details of this event <a href="{% get_base_url %}{% url 'events:detail' ccinstance.event.id %}">here</a>.</p>

                <p>Submit your crew chief report <a href="{% get_base_url %}{% url 'my:report' ccinstance.event.id %}">here</a>.</p>

                <p>Submit crew hours <a href="{% get_base_url %}{% url 'my:hours-list' ccinstance.event.id %}">here</a>.</p>
		{% if is_new_cc %}
			<p>By the way, congratualtions on your first event as
			Crew Chief! Since this is your first time as a CC, here
			are some helpful resources. 
			<ul>
					<li>Tech Bible -
						<a
								href="https://lnl.wpi.edu/bible">lnl.wpi.edu/bible</a></li>
					<li>Technical Directior -
						lnl-td@wpi.edu</li>
					<li>Vice President - lnl-vp@wpi.edu</li>
					<li>Events Office - 2nd floor of the
						Campus Center, next to the
						bookstore</li>
					<li>25live - <a
								     href="https://scheduling.wpi.edu">scheduling.wpi.edu</a>
		{% else %}
                <p>If you have any questions or concerns about the above information, contact the Vice President at
                <a href="mailto:lnl-vp@wpi.edu">lnl-vp@wpi.edu</a>.</p>
		{% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="w960" width="960" height="10"></td>
        </tr>
        </tbody>
</table>
{% endblock %}
