{% extends "emails/email_base.html" %}
{% load tz %}
{% load markdown_deux_tags %}

{% block perma %}
<a href="http://lnl.wpi.edu/email/announcecc/{{object.uuid}}/" class="cm-webversion">View Online</a>
{% endblock %}

{% block unsub %}
{% endblock %}

{% block content %}
<table class="w960" width="960" cellpadding="10" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td class="w960" width="960">
                <div align="left" class="article-content">
                    
                    <p align="left" class="article-title">Events</p>
                    <table class="w960" width="940" >
                    
                    {% for e in object.events.all %}
                    <tr>
                        <td><strong>{{ e.event_name }}</strong></td>
                        <td>Starting : {{ e.datetime_start|localtime }}</td>
                        <td colspan="2">Setup Completed: {{ e.datetime_setup_complete|localtime|time:"TIME_FORMAT" }}</td>
                        <td>{{ e.location }}</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <em>Setup Information </em><br />
                        </td>
                    <tr>
                    </tr>
                        <td colspan="1">
                            {% for c in e.ccinstances.all %}
                            <strong>{{ c.service.shortname }}</strong> @ {{ c.setup_location }}
                            <br />
                                {% endfor %}
                        </td>
                        <td colspan="1">
                        {% for c in e.ccinstances.all %}
                        {{ c.setup_start }}
                            <br />
                        {% endfor %}
                        
                        </td>
                        <td colspan="4">
                            {% for c in e.ccinstances.all %}
                            CC: {{ c.crew_chief.first_name }} {{ c.crew_chief.last_name }}
                            <br />
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">{% if not forloop.last %}<hr>{% endif %}</td>
                    </tr>
                    {% endfor %}
                    <br />
                    {% if object.addtl_message %}
                    <tr>
                        <td colspan="5">
                        <p align="left" class="article-title">Additional Information</p>
                        {{ object.addtl_message|markdown }}
                        
                        </td>
                    </tr>
                    {% endif %}
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="w960" width="960" height="10"></td>
        </tr>
        </tbody>
</table>
{% endblock %}