{% extends "emails/email_base.html" %}
{% load tz %}
{% load markdown_deux_tags %}
{% block perma %}
{% endblock %}

{% block unsub %}
    {% if UNSUB %}
    <a href="https://lnl.wpi.edu/legal/opt-out/" class="cm-preferences" lang="en">Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
{% endblock %}

{% block content %}
<table class="w960" width="960" cellpadding="10" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td class="w960" width="960">
                <p align="left" class="article-title">{{ subject }}</p>
                <div align="left" class="article-content">
                    {% if CUSTOM_URL %}
                    <p> {% if mrkdwn %}{{ body|markdown }}{% else %}{{ body|safe|linebreaksbr }}{% endif %} </p>
                    {% else %}
                    <p> {% if mrkdwn %}{{ body|markdown }}{% else %}{{ body|safe|linebreaksbr|urlize }}{% endif %} </p>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td class="w960" width="960" height="10"></td>
        </tr>
        </tbody>
</table>
{% endblock %}
