{% extends "emails/email_base.html" %}

{% block unsub %}
{% endblock %}

{% block content %}
<h4>
    Hey {{ new_member }},
</h4>
<p>
    I hope you had a good time at your first LNL event or meeting! I want to let you know about some helpful resources to introduce you to LNL:
</p>
<p>
    <b>Slack</b>: Please join our Slack at <a href="https://lnl.wpi.edu/join-slack">lnl.wpi.edu/join-slack</a>! On Slack, we announce events, share funny things, and have a good time together.
</p>
<p>
    <b>Meetings</b>:
    <ul>
        <li><strong>General Body Meetings (GBMs)</strong>: Wednesdays at 5pm in AK 233</li>
        <li><strong>Open Executive Board Meetings (Exec)</strong>: Mondays at 5pm in CC Chairs</li>
    </ul>
</p>
<p>
    <b>Events Calendar</b>: Our calendar (with setup times and locations) can be found at <a href="https://lnl.wpi.edu/list">lnl.wpi.edu/list</a>. You can add this calendar to your Outlook from the "Subscribe" button at the top of the page. 
</p>
<p>
    <b>Work Announcements</b>: Before each event, the person in charge of setup (the crew chief, aka CC) will send out an email and/or a Slack message in <a href="https://lnl.wpi.edu/work-announcements/">#work-announcements</a> with more details. Feel free to show up to any event to help.
</p>
<p>
    <b>LNLDB</b>: Our member website and database <a href="https://lnl.wpi.edu/db">lnl.wpi.edu/db</a> serves as the home base for everything LNL related. This is where you can find event details and meeting information.
</p>
<p>
    <b>Active Membership</b>: Active members can be crew chiefs for events and vote at meetings. To become an active member, attend 3 meetings and participate in 5 events (including at least one sound, lighting and projection event). Before your first projection event, reach out to our head projectionist at <a href="https://outlook.office.com/mail/deeplink/compose?to=lnl-hp@wpi.edu">lnl-hp@wpi.edu</a> to schedule a projection booth training (PIT1).
</p>
<p>
    <b>Event Sign-in</b>: Make sure to sign in and out of events at <a href="https://lnl.wpi.edu/crew">lnl.wpi.edu/crew</a> to count them towards activation. If you have any questions, ask any active member to help you.
</p>
<p>
    <b>Common Locations</b>:
    <ul>
        <li><strong>CC Office</strong>: On the third floor of the Campus Center, walk all the way past the Odeum and turn right at the elevator. Our sound equipment is in there, and you'll probably find us hanging out!</li>
        <li><strong>Alden Sub(basement)</strong>: Take the elevator in Alden down to the "SB" floor. We store our lighting equipment down here.</li>
        <li><strong>Fuller Projection Booth</strong>: In Fuller Labs directly next to the Upper Perreault Hall door. This is where we operate our film projectors.</li>
    </ul>
</p>
<p>
    If you have any other questions about anything, please email our Secretary at <a href="https://outlook.office.com/mail/deeplink/compose?to=lnl-s@wpi.edu">lnl-s@wpi.edu</a>!
</p>
<p>
    Look out for more on Slack, and we hope to see you again soon!
</p>
<hr>
<p>
    Secretary<br>
    WPI Lens and Lights
    <br><br>
</p>
{% endblock %}
