{% extends 'base_admin.html' %}
{% load tz %}
{% load lnldb_tags %}
{% load permissionif %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if msg %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>{{msg}}</strong>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if request.user.is_lnl %}
            <div class="col-sm-6 col-sm-push-6">
                {% if selfcrew_events.exists %}
                    <div class="visible-xs panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Mark yourself as crew for an ongoing event</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-primary" href="{% url 'events:crew-checkin' %}">Check in</a>
                            <a class="btn btn-primary" href="{% url 'events:crew-checkout' %}">Check out</a>
                            {% comment %}
                            {% for event in selfcrew_events %}
                                <a class="btn btn-default" href="{% url 'events:selfcrew' event.id %}">{{ event.event_name }}</a>
                            {% endfor %}
                            {% endcomment %}
                        </div>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quick Links</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-success" href="https://wpi0.sharepoint.com/sites/gr-lnl/">Sharepoint</a>
                        {% if request.user.group_str == 'Officer' %}
                            <a class="btn btn-success" href="https://wpi0.sharepoint.com/sites/gr-lnl-exec/">Exec Sharepoint</a>
                        {% endif %}
                        <a class="btn btn-primary" href="https://wpilnl.slack.com/">Slack</a>
                        {% if request.user.group_str == 'Officer' %}
                            <a class="btn btn-primary" href="https://lnl-rt.wpi.edu/rt/">RT</a>
                        {% endif %}
                        {% permission request.user has 'inventory.view_equipment' %}
                            <a class="btn btn-primary" href="https://lnl-rt.wpi.edu/snipe/">Snipe</a>
                        {% endpermission %}
                        {% if request.user.is_superuser %}
                            <a class="btn btn-danger" href="../admin">Admin</a>
                        {% endif %}
                        <a class="btn btn-success" href="https://forms.office.com/Pages/ResponsePage.aspx?id=9XacWBXK-UGIS1XsFaBnKsbZd_xTs0JLsg83YbwGk39UQ1BHSTdMR0RTVDlCWEM2M0hYOUtBWE5XUCQlQCN0PWcu">Feedback Form</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <h2>Welcome to the LNL Database</h2>
                <p class="lead">Here's the ongoing and approaching event schedule </p>
            </div>
        {% else %}
            <div class="col-md-12">
                <h2>Welcome to the LNL Database</h2>
                <p class="lead">Here's the ongoing and approaching event schedule </p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr> 
                    <th> Event Name </th>
                    <th> Event Start </th>
                    <th> Event End </th>
                    <th> Organization </th>
                    <th> Location </th>
                    <th> Crew Chief </th>
                </tr>
                {% for event in events %}
                        <tr>
                            <td><a href="{% url "events:detail" event.id %}">{{event.event_name|public_field}}</a></td>
                            <td>{{event.datetime_start}}</td>
                            <td>{{event.datetime_end}}</td>
                            <td>
                                {% for org in event.org.all %}
                                <a href="{% url "orgs:detail" org.id %}">{{org.name}}</a>
                                {% endfor %}
                            </td>
                            <td>{{event.location}}</td>
                            <td>
                                {% if event.crew_chief.count %}
                                    {% for cc in event.crew_chief.all %}
                                        <a href="{% url "accounts:detail" cc.id %}">
                                            {{ cc }}{% if not forloop.last %},{% endif %} </a>
                                    {% endfor %}
                                {% elif event.ccinstances.count %}
                                    {% for cc in event.ccinstances.all %}
                                        <a href="{% url "accounts:detail" cc.crew_chief.id %}">
                                            {{ cc.crew_chief }}{% if not forloop.last %},{% endif %} </a>
                                    {% endfor %}
                                {% else %}
                                    None Assigned
                                {% endif %}
                                
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div><!--/row-->
    <hr>
{% endblock %}

