{% load lineage %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url "events.views.indices.index" %}">LNLDB</a>
            <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="{% url "events.views.my.my" %}" class="navbar-link"> {{user}} &middot; <a href="/logout">Log Out</a></a>
            </p>
            <ul class="nav nav-pills">
                <li class="{% ancestor '/lnadmin/$' %}"><a href="{% url "events.views.indices.admin" %}">Home</a></li>
                <li class="{% ancestor '/lnadmin/events/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Events <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "events.views.mkedrm.eventnew" %}">Add Event</a></li>
                        <li><a href="{% url "events.views.list.incoming" %}">Incoming Events</a></li>
                        <li><a href="{% url "events.views.list.upcoming" %}">Upcoming Events</a></li>
                        <li><a href="{% url "events.views.list.openworkorders" %}">View Open Events</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Event Payments</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "events.views.list.unreviewed" %}">Events Pending Review</a></li>
                                    <li><a href="{% url "events.views.list.unbilled" %}">Events to be Billed</a></li>
                                    <li><a href="{% url "events.views.list.unbilled_semester" %}">Events to be Billed - Semester (Films)</a></li>
                                    <li><a href="{% url "events.views.list.unpaid" %}">Events Billed, Pending Payment</a></li>
                                    <li><a href="{% url "events.views.list.paid" %}">Events Paid</a></li>
                                </ul>
                            </li>
                                <li><a href="{% url "events.views.list.closed" %}">Closed Events</a></li>
                    </ul>
                </li>
                <li class="{% ancestor '/lnadmin/clients/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Clients
                        <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "events.views.orgs.vieworgs" %}">View Clients</a></li>
                        <li><a href="{% url "events.views.orgs.addeditorgs" %}">Add Clients</a></li>
                    </ul>
                </li>
                <li class="{% ancestor '/lnadmin/members/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Members
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "members.views.officers" %}">Officers</a></li>
                        <li><a href="{% url "members.views.active" %}">Active</a></li>
                        <li><a href="{% url "members.views.associate" %}">Associate</a></li>
                        <li><a href="{% url "members.views.alum" %}">Alumni</a></li>
                        <li><a href="{% url "members.views.away" %}">Away</a></li>
                        <li><a href="{% url "members.views.inactive" %}">Away</a></li>
                    </ul>
                </li>
                <li class="{% ancestor '/lnadmin/meetings/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">
                        Meetings
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                          <li><a href="{% url "meetings.views.listattendance" %}">View Meetings</a></li>
                          <li><a href="{% url "meetings.views.newattendance" %}">New Meeting</a></li>
                    </ul>
                </li>
                <li class="{% ancestor '/lnadmin/inventory/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Inventory
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                         <li><a href="{% url "inventory.views.view" %}">View Inventory</a></li>
                         <li><a href="{% url "inventory.views.add" %}">Add Inventory Item</a></li>
                         <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Organize</a>
                            <ul class="dropdown-menu">
                            <li><a href="{% url "inventory.views.categories" %}">Categories</a></li>
                            </ul>
                         </li>
                    </ul>
                </li>
                <li class="{% ancestor '/lnadmin/projection/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Projection
                        <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "projection.views.plist_detail" %}">View Projectionists</a></li>
                        <li><a href="{% url "projection-bulk-update" %}">Bulk Update Projectionists</a></li>
                    </ul>
                </li>
                <li class="{% ancestor '/lnadmin/misc/' %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Misc
                        <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "access-log" %}">Access Log</a>
                        <li class="divider"></li>
                        <li><a href="{% url "users-contact" %}">Contact Users</a></li>
                        <li><a href="{% url "users-limbo" %}">Unafiliated Users</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "users-add" %}">Add User</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left" action="{% url "events-search" %}" method="POST">
                        {% csrf_token %}
                        <input type="text" class="search-query" name="q" placeholder="Search Events" value="{{q}}">
                    </form>
                </li>
                 <!-- paste menu bar text above here --> 
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
