{% extends 'base.html' %}
{% block nav %}
    {% include "admin.nav.html" %}
{% endblock %}
Test.
{% if messages %}
 {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert"></button>
        <b>{{ message }}</b>
    </div>
{% endfor %}
{% endif %}
{% block overrides %}

{% comment %}
<!-- <link href="{{ STATIC_URL }}css/bootstrap-admin.css" rel="stylesheet"> -->
<!-- <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet"> -->
{# lol don't question it #}
{% endcomment %}
<style>

    .navbar-inverse .navbar-nav>.active>a
    {
        color: #EEE;
    }
    .navbar-inverse .navbar-nav>li>a,
    .navbar-inverse .navbar-nav>li>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-brand
    {
        color: #FFE303;
    }
    @media(min-width: 768px) {
        ul.nav ul.dropdown-menu li a {
            color: #111;
        }
    }
</style>

{% endblock %}
