{% extends 'base_admin.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ title }}</h1>
            <p style="padding-top: 1%; padding-bottom: 2%">{{ message }} <a href="{{ link }}">{{ link_desc }}</a></p>
            {% if EXIT_BTN %}
            <button class="btn btn-secondary" onclick="window.location.href = '{% if EXIT_URL %}{{ EXIT_URL }}{% else %}{% url "home" %}{% endif %}'">Exit</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
