{% extends 'base_admin.html' %}

{% block title %}{{ h2 }} Calendar | Lens and Lights at WPI{% endblock %}

{% block extras %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.js'></script>
<style>
  .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
    padding-left: 5px !important;
}

.fc-view-harness.fc-view-harness-active {
    overflow: visible;
    height: 70vh !important;
}
</style>

    <script>
      var calendar;
      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('fullcalendar')
        calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: $(window).width() < 765 ? 'listMonth':'dayGridMonth',
          eventSources: [
            {
              url: '{{ bootcal_endpoint }}',
              color: 'blue',
              textColor: 'white'
            }
          ],
          aspectRatio: 3,
          customButtons: {
            viewListButton: {
              text: 'View List',
              click: function() {
                window.location.href = "{{listurl}}"; // Redirect to list view
              }
            }
          },
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay viewListButton'
          },
          eventDisplay: 'block',
          views: {
            dayGrid: { displayEventTime: false,}
          },
        })
        calendar.render()
      })
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{h2}}</h2>
    </div>
</div>
<div class="panel panel-default">
    <div id="fullcalendar" class="panel-body"></div>
</div>
{% endblock %}
