{% extends 'base_admin.html' %}
{% load append_get %}

{% block title %}{{ h2 }} Calendar | Lens and Lights at WPI{% endblock %}

{% block extras %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.js'></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />

<style>
  .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
    padding-left: 5px !important;
}

.fc-view-harness.fc-view-harness-active {
    overflow: visible;
    height: 70vh !important;
}

.fc-header-toolbar .fc-subscribeButton-button  { background-color: green; }
.fc-header-toolbar .fc-subscribeButton-button:hover  { background-color: darkgreen; }

.fc-header-toolbar .fc-viewListButton-button  { background-color: darkblue; }

.cal-status-awaiting-approval { background-color: #f04e4e !important; border-color:#b03737 !important}

.cal-status-approved { background-color: #309f30!important; border-color:#1f6c1f !important}

.cal-status-paid, .cal-status-cancelled, .cal-status-closed, .cal-status-awaiting-payment, .cal-status-to-be-billed { 
  background-color: #545454!important; 
  border-color:rgb(42, 42, 42) !important
}

.cal-status-cancelled .fc-event-title { text-decoration: line-through; }

.cal-status-cancelled:hover .fc-event-title { text-decoration: none !important; }

.cal-status-awaiting-review { background-color: #e39c2b!important; border-color:#87572a !important}

.fc-event-title-container .glyphicon {
    margin-left: 0.4rem;
    padding: 1px;
    line-height: inherit !important;
}

.key > span { padding: .3em .6em !important; }
</style>

<script>
  var calendar;
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('fullcalendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: $(window).width() < 765 ? 'listMonth' : 'dayGridMonth',
      eventSources: [
        {
          url: '{{ bootcal_endpoint }}',
          color: 'blue',
          textColor: 'white',
        },
      ],
      aspectRatio: 3,
      customButtons: {
          viewListButton: {
            text: 'View List',
            click: function () {
              window.location.href = "{{listurl}}"; // Redirect to list view
            },
          },
          subscribeButton: {
            text: 'Subscribe',
            click: function () {
              $('#calInfoModal').modal("show"); // Redirect to list view
            },
          },
        },
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridYear,dayGridMonth,timeGridWeek viewListButton,subscribeButton',
      },
      eventDisplay: 'block',
      firstDay: 1,
      timeZone: 'America/New_York',
      businessHours: {
        daysOfWeek: [1, 2, 3, 4, 5], // Monday - Friday
        startTime: '00:00',
        endTime: '24:00',
      },
      views: {
        dayGrid: { displayEventTime: false },
      },
      eventDidMount: function (info) {
        // Use Tippy.js to create a tooltip
        tippy(info.el, {
          content: info.event.extendedProps.description, // Set the tooltip content to the event calendar description
          theme: 'light',
          placement: 'top',
          arrow: true,
          animation: 'shift-away',
        });
        console.log(info.event.extendedProps);
        info.el.querySelector('.fc-event-title-container').insertAdjacentHTML('afterbegin',info.event.extendedProps.icon);
      },
    });
    calendar.render();
  });
</script>

{% endblock %}

{% block modals %}
    <!-- calInfoModal -->
        <div id="calInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="calInfoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="calInfoModalLabel">How to Subscribe</h3>
                    </div>
                    <div class="modal-body">
                        <p>Get instant access to event information with your existing calendar! Simply copy the url from
                            the box below and put it into Outlook, Google Calendar, your phone, or any ICS-compatible
                            program (look for 'Add by URL' or 'Internet Calendar').</p>
                        <div class="input-group">
                            <input class="form-control" id="cal_url" type="text" readonly onclick="$(this).select();"
                                   value="{{ request.scheme }}://{{ request.get_host }}{% url 'cal:feed' %}" >
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        onclick="$('#cal_url').select();document.execCommand('copy');">
                                    Copy</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{h2}}</h2>
    </div>
</div>
<div class="panel panel-default">
    <div id="fullcalendar" class="panel-body"></div>
    <h4 class="well" style="margin: 10px 15px;">
      <span class="label" style="color:black">View This Range as</span>
      <div class="btn-group">
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'prerequest-cal' %}active{% endif %}" href="{% url "events:prerequest-cal" %}">Pre-Requests</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'prospective-cal' %}active{% endif %}" href="{% url "events:prospective-cal" %}">Prospective</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'incoming-cal' %}active{% endif %}" href="{% url "events:incoming-cal" %}">Incoming</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'confirmed-cal' %}active{% endif %}" href="{% url "events:confirmed-cal" %}">Confirmed</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'open-cal' %}active{% endif %}" href="{% url "events:open-cal" %}">Open</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'unreviewed-cal' %}active{% endif %}" href="{% url "events:unreviewed-cal" %}">Unreviewed</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'unbilled-cal' %}active{% endif %}" href="{% url "events:unbilled-cal" %}">Unbilled</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'unpaid-cal' %}active{% endif %}" href="{% url "events:unpaid-cal" %}">Billed/UnPaid</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'paid-cal' %}active{% endif %}" href="{% url "events:paid-cal" %}">Paid</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'closed-cal' %}active{% endif %}" href="{% url "events:closed-cal" %}">Closed</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'all-cal' %}active{% endif %}" href="{% url "events:all-cal" %}">All</a>
        <a type="button" class="btn btn-default {% if request.resolver_match.url_name == 'all-future-cal' %}active{% endif %}" href="{% url "events:all-future-cal" %}">All Future</a>
      </div>
  </h4>
    <h4 class="well" style="margin: 10px 15px;">
      <span class="label" style="color:black">Filter Projection Events</span>
      <div class="btn-group" role="group" aria-label="Projection filter">
        <a class="btn btn-default{% if request.GET.projection == 'hide'%} active{% endif %}" href="{% append_to_get projection='hide' %}">Hide Projection</a>
        <a class="btn btn-default{% if request.GET.projection == 'show' or not request.GET.projection %} active{% endif %}" href="{% append_to_get projection='show' %}">Show Projection</a>
        <a class="btn btn-default{% if request.GET.projection == 'only'%} active{% endif %}" href="{% append_to_get projection='only' %}">Show Only Projection</a>
    </div>
  </h4>
  <h4 class="well key" style="margin: 10px 15px;">
    <span class="label" style="color:black">Event Color Key</span>
    <span class="label cal-status-awaiting-approval"><span class="glyphicon glyphicon-time"></span> Awaiting Approval</span>
    <span class="label cal-status-approved"><span class="glyphicon glyphicon-ok-sign"></span> Confirmed</span>
    <span class="label cal-status-awaiting-review"><span class="glyphicon glyphicon-exclamation-sign"></span> Awaiting Billing Review</span>
    <span class="label cal-status-awaiting-payment"><span class="glyphicon glyphicon-usd"></span> Awaiting payment</span>
    <span class="label cal-status-paid"><span class="glyphicon glyphicon-check"></span> Paid</span>
    <span class="label cal-status-cancelled"><span class="glyphicon glyphicon-ban-circle"></span> Cancelled</span>
    <span class="label cal-status-closed"><span class="glyphicon glyphicon-ok-circle"></span> Closed</span>
    <span class="label" style="background-color: blue; border: darkblue;"><span class="glyphicon glyphicon-question-sign"></span> Other/Unknown</span>
  </h4>
</div>

{% endblock %}
