{% extends 'base_admin.html' %}
{% load get_attribute %}
{% load append_get %}
{% block extras %}
{% include 'js_event_checkboxes.tmpl' %}
{% endblock %}
{% block content %}    
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#" class="btn btn-warning" id="showselect">PDF Select</a>
            <a href="#" class="btn hide btn-default eventselect" id="submitselect">Submit Selections</a>
        </div>
        <h2>{{h2}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse">
                        Filter <i class="glyphicon glyphicon-search"></i>
                    </a>
                </div>
                <div id="collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% include "js_datepick.tmpl" %}
                        <script type="text/javascript">
                        $(document).ready(function () {
                            $( "#filterform" ).submit(function( event ) {
                                var baseurl = "{{baseurl}}";
                                var start = $("#fstart").val();
                                var end = $("#fend").val();
                                window.location.href = baseurl + start + "/" + end + "/";
                                event.preventDefault();
                                });
                            });
                        </script>
                        <form id="filterform" class="form-inline">
                            <input id="fstart" class="input-large datepick" type="text" title="Start" name="start" placeholder="Start" value="{{start}}">
                            <input id="fend" class="input-large datepick" type="text" title="End" name="end" placeholder="End" value="{{end}}">
                            <input class="btn btn-info" type="submit" value="submit">
                        </form>
                        {% if start and end %}
                        <hr>
                        <ul class="nav nav-pills">
                            <li class="disabled"><a href="#">View This Range as</a></li>
                            <li><a href="{% url "events:incoming" start end %}{% append_to_get page=1 %}">Incoming</a></li>
                            <li><a href="{% url "events:upcoming" start end %}{% append_to_get page=1 %}">Upcoming</a></li>
                            <li><a href="{% url "events:open" start end %}{% append_to_get page=1 %}">Open</a></li>
                            <li><a href="{% url "events:unreviewed" start end %}{% append_to_get page=1 %}">Unreviewed</a></li>
                            <li><a href="{% url "events:unbilled" start end %}{% append_to_get page=1 %}">Unbilled</a></li>
                            <li><a href="{% url "events:unpaid" start end %}{% append_to_get page=1 %}">Billed/UnPaid</a></li>
                            <li><a href="{% url "events:paid" start end %}{% append_to_get page=1 %}">Paid</a></li>
                            <li><a href="{% url "events:closed" start end %}{% append_to_get page=1 %}">Closed</a></li>
                            
                        </ul>
                        {% endif %}
                        {% if proj_hideable %}
                        <hr>
                            <ul class="nav nav-pills">
                                <li class="disabled"><a href="#">Projection Events</a></li>
                                <li><a href="{% append_to_get page=1 hidedp=0 %}">Show</a></li>
                                <li><a href="{% append_to_get page=1 hidedp=1 %}">Hide</a></li>
                            </ul>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered event-list">
            <tr>
                <td class="hide eventselect"></td>
                {% for field in cols %}
                    <th>{{ field.verbose_name | title }}
                        {% if field.favicon %}
                            <span class="glyphicon glyphicon-{{ field.favicon }}" aria-hidden="true"></span>
                        {% endif %}
                        {% if field.sortable %}
                        <div class="btn-group flexfix" role="group"
                             aria-label="{{ field.verbose_name | title }} Sorts">
                            <a role="button" class="btn btn-default btn-xs"
                               href="?sort={{ field.name }}"
                               aria-label="Sort {{ field.verbose_name | title }} Ascending">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a role="button" class="btn btn-default btn-xs"
                               href="?sort=-{{ field.name }}"
                               aria-label="Sort {{ field.verbose_name | title }} Descending">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </div>
                    {% endif %}
                    </th>
                {% endfor %}

            </tr>
            {% for event in events %}
                <tr class="event-status-{{ event.status | slugify }}">
                        <td class="hide eventselect">
                            <input type="checkbox" class="hide eventselect" title="Select {{ event.event_name }}"
                                   value="{{ event.id }}">
                        </td>
                    {% for field in cols %}
                        {% if field.name == 'event_name' %}
                            <td class="event-name"><a
                                    href="{% url "events:detail" event.id %}">{{ event.event_name }}</a>
                            </td>

                        {% elif field.name == 'org' %}
                            <td class="event-orgs">
                                {% for org in event.org.all %}
                                    <a href="{% url "orgs:detail" org.id %}">{{ org.name }}</a>
                                {% endfor %}
                            </td>

                        {% elif field.name == 'location' %}
                            <td class="event-loc">{{ event.location }} ({{ event.location.building.shortname }})</td>

                        {% elif field.name == 'crew_chief' %}
                            <td class="event-cc">
                                {% if event.crew_chief.count %}
                                    {% for cc in event.crew_chief.all %}
                                        <a href="{% url "accounts:detail" cc.id %}">
                                            {{ cc }}</a>{% if not forloop.last %},{% endif %} 
                                    {% endfor %}
                                {% elif event.ccinstances.count %}
                                    {% for cc in event.ccinstances.all %}
                                        <a href="{% url "accounts:detail" cc.crew_chief.id %}">
                                            {{ cc.crew_chief }}{% if not forloop.last %},{% endif %} </a>
                                    {% endfor %}
                                {% else %}
                                    None Assigned
                                {% endif %}
                            </td>

                        {% elif field.name == 'lighting' %}
                            <td class="event-lighting">
                                {% if event.lighting %} {{ event.lighting.shortname }} {% endif %}
                            </td>

                        {% elif field.name == 'sound' %}
                            <td class="event-sound">
                                {% if event.sound %} {{ event.sound.shortname }} {% endif %}
                            </td>

                        {% elif field.name == 'projection' %}
                            <td class="event-proj">
                                {% if event.projection %} {{ event.projection.longname }}  {% endif %}
                            </td>

                        {% elif field.name == 'other_services' %}
                            <td class="event-other-serv">
                                {% if event.otherservices.count %} Y {% else %} N {% endif %}
                            </td>

                        {% elif field.name == 'tasks' %}
                            <td class="tasks">
                                <span class="crewtask"><a
                                        href="{% url "events:add-crew" event.id %}">Crew</a></span>
                            </td>

                        {% else %}
                            <td class="{{ field.name }}">{{ event|getattribute:field.name }}</td>
                        {% endif %}
                    {% endfor %}


                    </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <ul class="pager">
        {% if events.has_previous %}
            <li class="previous">
            <a href="{% append_to_get page=events.previous_page_number %}">&larr; Newer</a>
        {% else %}
            <li class="previous disabled">
            <a href="#" >&larr; Newer</a>
        {% endif %}
        
        </li>
        <li class="current">
            <a href="#">Page {{ events.number }} of {{ events.paginator.num_pages }}.</a>
        </li>
        
        {% if events.has_next %}
            <li class="next">
            <a href="{% append_to_get page=events.next_page_number %}">Older &rarr;</a>
        {% else %}
            <li class="next disabled">
            <a href="#">Older &rarr;</a>
        {% endif %}
        </li>
    </ul>
</div>
{% endblock %}
