{% extends 'base_admin.html' %}
{% load bootstrap_calendar %}

{% block title %}Ongoing and Future Events | Lens and Lights at WPI{% endblock %}

{% block extras %}
{% url 'cal:api-public' as bootcal_endpoint %}
{% bootstrap_calendar_js events_url=bootcal_endpoint %}
{% bootstrap_calendar_css %}
{% endblock %}

{% block modals %}
    <!-- calInfoModal -->
        <div id="calInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="calInfoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="calInfoModalLabel">How to Subscribe</h3>
                    </div>
                    <div class="modal-body">
                        <p>Get instant access to event information with your existing calendar! Simply copy the url from
                            the box below and put it into Outlook, Google Calendar, your phone, or any ICS-compatible
                            program (look for 'Add by URL' or 'Internet Calendar').</p>
                        <div class="input-group">
                            <input class="form-control" id="cal_url" type="text" readonly onclick="$(this).select();"
                                   value="{{ request.scheme }}://{{ request.get_host }}{% url 'cal:feed' %}" >
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        onclick="$('#cal_url').select();document.execCommand('copy');">
                                    Copy</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Ongoing and Future Events</h2>
        <p class="lead">Want to get involved in LNL? Come by any of these events and setups, say hi and ask questions!</p>
           </div>
</div>

<div class="panel panel-default">
<div class="row cal-ctl panel-heading">
    <div class="btn-group cal-ctl">
        <a role="button" class="btn btn-success" data-target="#calInfoModal"
           data-toggle="modal">Subscribe</a>
    </div>
    {% bootstrap_controls 'cal-ctl' %}
    <h3 id="cal-header-title" class="panel-title"></h3>
</div>
<div class="panel-body">
    {% bootstrap_calendar 'cal-body' %}
</div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th> Event Name </th>
                <th> Location </th>
                <th> Setup Location(s) </th>
                <th> Setup Start Times </th>
                <th> Event Start </th>
                <th> Event End </th>
                <th> Crew Chiefs </th>
            </tr>
            {% for event in events %}
                    <tr id="{{event.id}}">
                        <td><a href="{% url "events:detail" event.pk %}">{{event.event_name}}</a> - <b>{{ event.short_services }}</b></td>
                        <td>{{event.location}} ({{event.location.building }})</td>
                        <td>
                            {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                            <strong>{{cc.service.shortname }}</strong> {{cc.setup_location }}  <br />
                            {% endfor %}
                        </td>
                        <td>
                            {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                            {{cc.setup_start }}  <br />
                            {% endfor %}
                        </td>
                        <td>
                            {{ event.datetime_start }}
                        <td>
                            {{ event.datetime_end }}
                        </td>
                        <td>
                            {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                            <strong>{{cc.service.shortname }}</strong> {{cc.crew_chief.get_full_name }}  <br />
                            {% endfor %}
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
