{% extends 'base_admin.html' %}

{% block title %}Ongoing and Future Events | Lens and Lights at WPI{% endblock %}

{% block extras %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.js'></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />

<style>
    .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
      padding-left: 5px !important;
  }
  
  .fc-view-harness.fc-view-harness-active {
      overflow: visible;
      height: 70vh !important;
  }
  .fc-header-toolbar .fc-subscribeButton-button  { background-color: green; }
  .fc-header-toolbar .fc-subscribeButton-button:hover  { background-color: darkgreen; }

  .fc-header-toolbar .fc-viewListButton-button  { background-color: darkblue; }

  .cal-status-awaiting-approval { background-color: #f04e4e !important; border-color:#b03737 !important}

  .cal-status-approved { background-color: #309f30!important; border-color:#1f6c1f !important}

  .cal-status-paid, .cal-status-cancelled, .cal-status-closed, .cal-status-awaiting-payment, .cal-status-to-be-billed { 
    background-color: #545454!important; 
    border-color:rgb(42, 42, 42) !important
  }

  .cal-status-awaiting-review { background-color: #e39c2b!important; border-color:#87572a !important}
</style>
<script>
    var calendar;
    document.addEventListener('DOMContentLoaded', function () {
      const calendarEl = document.getElementById('fullcalendar');
      calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: $(window).width() < 765 ? 'listMonth' : 'dayGridMonth',
        eventSources: [
          {
            url: '{{ bootcal_endpoint }}',
            color: 'blue',
            textColor: 'white',
          },
        ],
        aspectRatio: 3,
        customButtons: {
          viewListButton: {
            text: 'Jump to List',
            click: function () {
              window.location.href = "#event-list"; // Redirect to list view
            },
          },
          subscribeButton: {
            text: 'Subscribe',
            click: function () {
              $('#calInfoModal').modal("show"); // Redirect to list view
            },
          },
        },
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridYear,dayGridMonth,timeGridWeek viewListButton,subscribeButton',
        },
        eventDisplay: 'block',
        views: {
          dayGrid: { displayEventTime: false },
        },
        eventDidMount: function (info) {
          // Use Tippy.js to create a tooltip
          tippy(info.el, {
            content: info.event.extendedProps.description, // Set the tooltip content to the event calendar description
            theme: 'light',
            placement: 'top',
            arrow: true,
            animation: 'shift-away',
          });
          console.log(info.event);
        },
      });
      calendar.render();
    });
  </script>
    
{% endblock %}

{% block modals %}
    <!-- calInfoModal -->
        <div id="calInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="calInfoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="calInfoModalLabel">How to Subscribe</h3>
                    </div>
                    <div class="modal-body">
                        <p>Get instant access to event information with your existing calendar! Simply copy the url from
                            the box below and put it into Outlook, Google Calendar, your phone, or any ICS-compatible
                            program (look for 'Add by URL' or 'Internet Calendar').</p>
                        <div class="input-group">
                            <input class="form-control" id="cal_url" type="text" readonly onclick="$(this).select();"
                                   value="{{ request.scheme }}://{{ request.get_host }}{% url 'cal:feed' %}" >
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        onclick="$('#cal_url').select();document.execCommand('copy');">
                                    Copy</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Ongoing and Future Events</h2>
        <p class="lead">Want to get involved in LNL? Come by any of these events and setups, say hi and ask questions!</p>
           </div>
</div>

<div class="panel panel-default">
    <div id="fullcalendar" class="panel-body"></div>
</div>

<div class="row" id="event-list">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th> Event Name </th>
                <th> Location </th>
                <th> Setup Location(s) </th>
                <th> Setup Start Times </th>
                <th> Event Start </th>
                <th> Event End </th>
                <th> Crew Chiefs </th>
            </tr>
            {% for event in events %}
                    <tr id="{{event.id}}">
                        <td><a href="{% url "events:detail" event.pk %}">{{event.event_name}}</a> - <b>{{ event.short_services }}</b></td>
                        <td>{{event.location}} ({{event.location.building }})</td>
                        <td>
                            {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                            <strong>{{cc.service.shortname }}</strong> {{cc.setup_location }}  <br />
                            {% endfor %}
                        </td>
                        <td>
                            {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                            {{cc.setup_start }}  <br />
                            {% endfor %}
                        </td>
                        <td>
                            {{ event.datetime_start }}
                        <td>
                            {{ event.datetime_end }}
                        </td>
                        <td>
                            {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                            <strong>{{cc.service.shortname }}</strong> {{cc.crew_chief.get_full_name }}  <br />
                            {% endfor %}
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
