{% extends 'base_admin.html' %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ h2 }}: {{ event.event_name }} | Lens and Lights at WPI{% endblock %}

{% block content %}
<h1>{{ h2 }}</h1>

<div class="row">
    <div class="col-md-6">
        <h2><em>"{{ event.event_name }}"</em></h2>
        <h3>
            {{ event.location }}<br />
            Started: {{ event.datetime_start }}<br />
            Ended: {{ event.datetime_end }}
        </h3>
        <h2>
            Contact: {% if event.contact %}
            <a href="{% url "accounts:detail" event.contact.id %}">{{ event.contact.get_full_name }}</a>
            {% else %}No Contact Set {% endif %}
        </h2>
    </div>
    <div class="col-md-6">
        <h2>
            <div class="panel panel-default">
                <div class="panel-heading">Client(s)</div>
                <ul class="list-group">
                    {% for org in event.org.all %}
                        <li class="list-group-item">
                            {% if org.delinquent %}
                                <a href="{% url "orgs:detail" org.id %}">
                                    <span style='color:red'>{{ org.retname }}
                                        <span class="glyphicon glyphicon-exclamation-sign" title="Delinquent client"></span>
                                    </span>
                                </a><br />
                            {% else %}
                                <a href="{% url "orgs:detail" org.id %}">{{ org.retname }}</a><br />
                            {% endif %}
                            <span class="text-muted small">
                            {% if org.notes %}
                                Notes: {{ org.notes }}
                            {% endif %}
                            </span>
                        </li>
                    {% empty %}
                        <li class="list-group-item list-group-item-secondary">None set</li>
                    {% endfor %}
                </ul>
            </div>
        </h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h2> Reports </h2> 
        {% for report in event.ccreport_set.all %}
            <h4>Report by {{report.crew_chief }}</h4> 
            <em class="text-muted pull-right">
                Posted on {{ report.created_on }} <br />
                {% if report.created_on != report.updated_on %}
                    Last Updated: {{ report.updated_on }}
                {% endif %}
            </em>
            
            <blockquote>
                {{ report.report|markdown }}
                {% comment %} <small>For {{ report.pretty_cat_list }}</small>{% endcomment %}
            </blockquote> 
        {% endfor %}
        <table class="table table-condensed">
        {% for crew in event.crew_needing_reports %}
        {% if forloop.first %}<h4> Crew Needing Reports </h4> {% endif %}
        
        <tr>
            <td>{{ crew.crew_chief.get_full_name }}</td>
            <td><a class="btn btn-warning btn-default btn-xs"
                   href="{% url 'events:remind' id=event.id uid=crew.crew_chief.id %}">Remind</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h2> Hours </h2>
        <table class="table">
            <tr>
                <th>Member</th>
                <th>Hours</th>
            </tr>
            {% for hour in event.hours.all %}
                <tr>
                    <td><a href="{% url "accounts:detail" hour.user.id %}">{{ hour.user.get_full_name }}</a></td>
                    <td>
                        {% if hour.hours is None %}
                            Pending
                            <span class="glyphicon glyphicon-question-sign"
                                title="A number of hours has not yet been entered by the crew chief. If you review the event for billing now, this record will be deleted and the person will likely never get hours for this event."></span>
                        {% else %}
                            {{ hour.hours }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h2>Price Breakdown</h2>
            <style> .tdra { text-align: right; }</style>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                {% if event.lighting %}
                <tr class="success">
                    <td>{{event.lighting}}</td>
                    <td class="tdra">${{ event.lighting.base_cost }}</td>
                </tr>
                {% endif %}
                {% if event.extras_lighting.exists %}
                {% for extra in event.extras_lighting %}
                <tr>
                    <td>{{ extra.extra }} <strong>x{{extra.quant}} </strong></td>
                    <td class="tdra">${{ extra.totalcost }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
                {% if event.sound %}
                <tr class="success">
                    <td>{{event.sound}}</td>
                    <td class="tdra">${{ event.sound.base_cost }}</td>
                </tr>
                {% endif %}
                {% if event.extras_sound.exists %}
                {% for extra in event.extras_sound %}
                <tr>
                    <td>{{ extra.extra }} <strong>x{{extra.quant}} </strong></td>
                    <td class="tdra">${{ extra.totalcost }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
                {% if event.projection %}
                <tr class="success">
                    <td>{{event.projection}}</td>
                    <td class="tdra">${{ event.projection.base_cost }}</td>
                </tr>
                {% endif %}
                
                {% if event.otherservices.exists %}
                    {% for service in event.otherservices.all %}
                        <tr class="success">
                            <td>{{ service }}</td>
                            <td class="tdra">${{ service.base_cost }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                
                {% for e in event.extras_other %}
                <tr>
                    <td>{{ e.extra }} <strong>x{{ e.quant }}</strong></td>
                    <td class="tdra">${{ e.totalcost }}</td>
                </tr>
                {% endfor %}

                {% if event.serviceinstance_set.exists %}
                    {% for service_instance in event.serviceinstance_set.all %}
                        <tr>
                            <td>{{ service_instance.service }}</td>
                            <td class="tdra">${{ service_instance.service.base_cost }}</td>
                        </tr>
                    {% endfor %}
                    {% for extra_instance in event.extrainstance_set.all %}
                        <tr>
                            <td>{{ extra_instance.extra }} <strong>x{{ extra_instance.quant }}</strong></td>
                            <td class="tdra">${{ extra_instance.totalcost }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% for oo in event.oneoffs %}
                <tr>
                    <td>{{ oo.key_name }} ({{ oo.key_value }}) <strong>x{{ oo.key_quantity }}</strong></td>
                    <td {% if oo.negative %} style="color:red;" {% endif %} class="tdra">
                        {% if oo.negative %}-{% endif %}${{ oo.abs_cost }}
                    </td>
                </tr>
                {% endfor %}
                
                {% if event.discount_applied %}
                <tr class="warning">
                    <td> Pre Discount Total </td>
                    <td class="tdra">${{ event.cost_total_pre_discount }} </td>
                </tr>
                <tr class="warning">
                            <td>15% Discount Applied</td>
                            <td style="color:red;" class="tdra">-${{ event.discount_value|floatformat:2}}</td>
                        </tr>
                {% endif %}
                
                <tr class="info">
                    <td>Total</td>
                    <td class="tdra">${{ event.cost_total|floatformat:2 }}</td>
                </tr>
            </table>
    </div>
</div>



{% crispy formset %}

{% endblock %}
