{% extends 'base_admin.html' %}
{% load at_user_linking %}
{% load at_event_linking %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ h2 }}</h1>

<div class="row">
    <div class="col-md-4">
        <h2><em>"{{ event.event_name }}"</em></h2>
    </div>
    <div class="col-md-4">
        <h2>
            Contact: {% if event.contact %}<a href="{% url "memberdetail" event.contact.id %}">{{ event.contact.get_full_name }}</a>{% else %}No Contact Set {% endif %}
            <br/>
            Client(s) {% for org in event.org.all %}<span class="text-muted"><a href="{% url "admin-orgdetail" org.id %}">{{ org.retname }} </a>Last Verified: {% if org.verifications.exists %} {{ org.verifications.latest.date }} {% else %} Never {% endif %}</span>{% endfor %}
        </h2>
    </div>
    <div class="col-md-4">
        <h3>
            Started: {{ event.datetime_start }} <br />
            Ended: {{ event.datetime_end }}
        </h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h2> Reports </h2> 
        {% for report in event.ccreport_set.all %}
            <h4>Report by {{report.crew_chief }}</h4> 
            <em class="text-muted pull-right">
                Posted on {{ report.created_on }} <br />
                {% if report.created_on != report.updated_on %}
                    Last Updated: {{ report.updated_on }}
                {% endif %}
            </em>
            
            <blockquote>
                {{ report.report|mduserlink|markdown }}
                {% comment %} <small>For {{ report.pretty_cat_list }}</small>{% endcomment %}
            </blockquote> 
        {% endfor %}
        <table class="table table-condensed">
        {% for crew in event.crew_needing_reports %}
        {% if forloop.first %}<h4> Crew Needing Reports </h4> {% endif %}
        
        <tr>
            <td>{{ crew.crew_chief.get_full_name }}</td>
            <td><a class="btn btn-warning btn-default btn-xs"
                   href={% url "event-review-remind" id=event.id uid=crew.crew_chief.id %}>Remind</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <h2> Hours </h2>
        <table class="table">
            <tr>
                <th>Member</th>
                <th>Hours</th>
            </tr>
            {% for hour in event.hours.all %}
                <tr>
                    <td><a href="{% url "memberdetail" hour.user.id %}">{{ hour.user.get_full_name }}</a></td>
                    <td>{{ hour.hours }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <h2>Price Breakdown</h2>
            <style> .tdra { text-align: right; }</style>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                {% if event.lighting %}
                <tr class="success">
                    <td>{{event.lighting}}</td>
                    <td class="tdra">${{ event.lighting.base_cost }}</td>
                </tr>
                {% endif %}
                {% if event.extras_lighting.exists %}
                {% for extra in event.extras_lighting %}
                <tr>
                    <td>{{ extra.extra }} <strong>x{{extra.quant}} </strong></td>
                    <td class="tdra">${{ extra.totalcost }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
                {% if event.sound %}
                <tr class="success">
                    <td>{{event.sound}}</td>
                    <td class="tdra">${{ event.sound.base_cost }}</td>
                </tr>
                {% endif %}
                {% if event.extras_sound.exists %}
                {% for extra in event.extras_sound %}
                <tr>
                    <td>{{ extra.extra }} <strong>x{{extra.quant}} </strong></td>
                    <td class="tdra">${{ extra.totalcost }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
                {% if event.projection %}
                <tr class="success">
                    <td>{{event.projection}}</td>
                    <td class="tdra">${{ event.projection.base_cost }}</td>
                </tr>
                {% endif %}
                
                {% if event.otherservices.exists %}
                    {% for service in event.otherservices.all %}
                        <tr class="success">
                            <td>{{ service }}</td>
                            <td class="tdra">${{ service.base_cost }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                
                {% for e in event.extras_other %}
                <tr>
                    <td>{{ e.extra }} <strong>x{{ e.quant }}</strong></td>
                    <td class="tdra">${{ e.totalcost }}</td>
                </tr>
                {% endfor %}
                
                {% if event.discount_applied %}
                <tr class="warning">
                    <td> Pre Discount Total </td>
                    <td class="tdra">${{ event.cost_total_pre_discount }} </td>
                </tr>
                <tr class="warning">
                            <td>15% Discount Applied</td>
                            <td style="color:red;" class="tdra">-${{ event.discount_value|floatformat:2}}</td>
                        </tr>
                {% endif %}
                
                {% for oo in event.oneoffs %}
                <tr>
                    <td>{{ oo.key_name }} ({{ oo.key_value }}) <strong>x{{ oo.key_quantity }}</strong></td>
                    <td {% if oo.negative %} style="color:red;" {% endif %} class="tdra">
                        {% if oo.negative %}-{% endif %}${{ oo.abs_cost }}
                    </td>
                </tr>
                {% endfor %}
                
                
                <tr class="info">
                    <td>Total</td>
                    <td>${{ event.cost_total|floatformat:2 }}</td>
                </tr>
            </table>
    </div>
</div>



{% crispy formset %}

{% endblock %}