{% extends 'base_admin.html' %}
{% load get_attribute %}
{% load append_get %}
{% load permissionif %}
{% block extras %}
{% include 'js_event_checkboxes.tmpl' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            {% if calurl %}
                <a href="{{calurl}}" class="btn btn-primary">Calendar</a>
            {% endif %}
            <a href="#" class="btn btn-warning" id="showselect">PDF Select</a>
            <a href="#" class="btn hide btn-default eventselect" id="submitselect-workorders">Get workorders</a>
            <a href="#" class="btn hide btn-default eventselect" id="submitselect-bills">Get Bills</a>
        </div>
        <h2>{{h2}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse">
                        Filter <i class="glyphicon glyphicon-search"></i>
                    </a>
                </div>
                <div id="collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% include "js_datepick.tmpl" %}
                        <script type="text/javascript">
                        $(document).ready(function () {
                            $( "#filterform" ).submit(function( event ) {
                                var baseurl = "{{baseurl}}";
                                var start = $("#fstart").val();
                                var end = $("#fend").val();
                                window.location.href = baseurl + start + "/" + end + "/";
                                event.preventDefault();
                                });
                            });
                        </script>
                        <form id="filterform" class="form-inline">
                            <input id="fstart" class="input-large datepick" type="text" title="Start" name="start" placeholder="Start" value="{{start}}">
                            <input id="fend" class="input-large datepick" type="text" title="End" name="end" placeholder="End" value="{{end}}">
                            <input class="btn btn-info" type="submit" value="submit">
                        </form>
                        {% if start and end %}
                        <hr>
                        <ul class="nav nav-pills">
                            <li class="disabled"><a href="#">View This Range as</a></li>
                            <li><a href="{% url "events:incoming" start end %}{% append_to_get page=1 %}">Incoming</a></li>
                            <li><a href="{% url "events:upcoming" start end %}{% append_to_get page=1 %}">Upcoming</a></li>
                            <li><a href="{% url "events:open" start end %}{% append_to_get page=1 %}">Open</a></li>
                            <li><a href="{% url "events:unreviewed" start end %}{% append_to_get page=1 %}">Unreviewed</a></li>
                            <li><a href="{% url "events:unbilled" start end %}{% append_to_get page=1 %}">Unbilled</a></li>
                            <li><a href="{% url "events:unpaid" start end %}{% append_to_get page=1 %}">Billed/UnPaid</a></li>
                            <li><a href="{% url "events:paid" start end %}{% append_to_get page=1 %}">Paid</a></li>
                            <li><a href="{% url "events:closed" start end %}{% append_to_get page=1 %}">Closed</a></li>
                            <li><a href="{% url "events:all" start end %}{% append_to_get page=1 %}">All</a></li>
                        </ul>
                        {% endif %}
                        {% if takes_param_projection %}
                        <hr>
                            <div class="btn-group" role="group" aria-label="Projection filter">
                                <a class="btn btn-default{% if request.GET.projection == 'hide' %} active{% endif %}" href="{% append_to_get page=1 projection='hide' %}">Hide Projection</a>
                                <a class="btn btn-default{% if not request.GET.projection or request.GET.projection == 'show' %} active{% endif %}" href="{% append_to_get page=1 projection='show' %}">Show Projection</a>
                                <a class="btn btn-default{% if request.GET.projection == 'only' %} active{% endif %}" href="{% append_to_get page=1 projection='only' %}">Show Only Projection</a>
                            </div>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered event-list">
            <tr>
                <td class="hide eventselect"></td>
                {% for field in cols %}
                    <th>{{ field.verbose_name | title }}
                        {% if field.favicon %}
                            <span class="glyphicon glyphicon-{{ field.favicon }}" aria-hidden="true"></span>
                        {% endif %}
                        {% if field.sortable %}
                        <div class="btn-group flexfix" role="group"
                             aria-label="{{ field.verbose_name | title }} Sorts">
                            <a role="button" class="btn btn-default btn-xs"
                               href="?sort={{ field.name }}"
                               aria-label="Sort {{ field.verbose_name | title }} Ascending">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a role="button" class="btn btn-default btn-xs"
                               href="?sort=-{{ field.name }}"
                               aria-label="Sort {{ field.verbose_name | title }} Descending">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </div>
                    {% endif %}
                    </th>
                {% endfor %}

            </tr>
            {% for event in events %}
                <tr class="event-status-{{ event.status | slugify }}">
                        <td class="hide eventselect">
                            <input type="checkbox" class="hide eventselect" title="Select {{ event.event_name }}"
                                   value="{{ event.id }}">
                        </td>
                    {% for field in cols %}
                        {% if field.name == 'event_name' %}
                            <td class="event-name"><a
                                    href="{% url "events:detail" event.id %}">{{ event.event_name }}</a>
                            </td>

                        {% elif field.name == 'org' %}
                            <td class="event-orgs">
                                {% for org in event.org.all %}
                                    <a href="{% url "orgs:detail" org.id %}">{{ org.name }}</a>
                                {% endfor %}
                            </td>

                        {% elif field.name == 'location' %}
                            <td class="event-loc">{{ event.location }} ({{ event.location.building.shortname }})</td>

                        {% elif field.name == 'crew_chief' %}
                            <td class="event-cc">
                                {% if event.crew_chief.exists %}
                                {% for cc in event.crew_chief.all %}
                                    {% permission request.user has 'accounts.view_member' %}
                                        <a href="{% url 'accounts:detail' cc.id %}">
                                    {% endpermission %}
                                    {{ cc }}{% permission request.user has 'accounts.view_member' %}</a>{% endpermission %}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                {% elif event.ccinstances %}
                                    {% for cc in event.ccinstances.all %}
                                        {% permission request.user has 'accounts.view_member' %}
                                            <a href="{% url 'accounts:detail' cc.crew_chief.id %}">
                                        {% endpermission %}
                                        {{ cc.crew_chief }}{% permission request.user has 'accounts.view_member' %}</a>{% endpermission %}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                {% else %}
                                    None Assigned
                                {% endif %}
                            </td>

                        {% elif field.name == 'lighting' %}
                            <td class="event-lighting">
                                {% if event.lighting %} {{ event.lighting.shortname }} {% endif %}
                            </td>

                        {% elif field.name == 'sound' %}
                            <td class="event-sound">
                                {% if event.sound %} {{ event.sound.shortname }} {% endif %}
                            </td>

                        {% elif field.name == 'projection' %}
                            <td class="event-proj">
                                {% if event.projection %} {{ event.projection.longname }}  {% endif %}
                            </td>

                        {% elif field.name == 'other_services' %}
                            <td class="event-other-serv">
                                {% if event.otherservices.count %} Y {% else %} N {% endif %}
                            </td>

                        {% elif field.name == 'tasks' %}
                            <td class="tasks">
                                {% if event.approved and event.reports_editable %}
                                    <span class="crewtask"><a href="{% url "events:add-crew" event.id %}">Crew</a></span>
                                {% endif %}
                                {% if event.approved and not event.reviewed and event.crew_needing_reports %}
                                    {% permission request.user has 'events.review_event' of event %}
                                        <form class="form-inline" action="{% url 'events:remindall' event.id %}?next={{ request.get_full_path }}" method="post">
                                            {% csrf_token %}
                                            <span class="remindtask"><button class="btn btn-link" type="submit">Remind</button></span>
                                        </form>
                                    {% endpermission %}
                                {% endif %}
                                {% if event.reviewed and event.last_bill and not event.paid %}
                                    {% permission request.user has 'events.bill_event' of event %}
                                        <form class="form-inline" action="{% url 'events:bills:pay' event.id event.last_bill.id %}?next={{ request.get_full_path }}" method="post">
                                            {% csrf_token %}
                                            <span class="markpaidtask"><button class="btn btn-link" type="submit">Mark&nbsp;Paid</button></span>
                                        </form>
                                    {% endpermission %}
                                {% endif %}
                                {% if event.reviewed and event.last_bill and event.workday_fund and event.worktag and not event.entered_into_workday %}
                                    {% permission request.user has 'events.bill_event' of event %}
                                        <form class="form-inline" action="{% url 'events:workday-entered' event.id %}" method="post">
                                            {% csrf_token %}
                                            <span class="workdayenteredtask"><button class="btn btn-link" type="submit">Mark Entered Into Workday</button></span>
                                        </form>
                                    {% endpermission %}
                                {% endif %}
                            </td>
                        {% elif field.name == 'approval' %}
                            <td class="approval">
                                {% if event.approved %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% elif event.closed %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-minus"></span>
                                {% endif %}
                            </td>
                        {% elif field.name == 'workday' %}
                            <td class="workday">
                                {% if event.entered_into_workday %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% elif event.workday_fund and event.worktag %}
                                    <span class="glyphicon glyphicon-refresh"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                            </td>
                        {% elif field.name == 'workday_fund' %}
                            <td class="workday_fund">
                                {{ event.workday_fund }}-FD
                            </td>
                        {% elif field.name == 'bill' %}
                            <td class="bill">
                                <a target="_blank" href="{% url 'events:bills:pdf' event.id %}">Bill PDF</a>
                            </td>
                        {% else %}
                            <td class="{{ field.name }}">{{ event|getattribute:field.name }}</td>
                        {% endif %}
                    {% endfor %}


                    </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <ul class="pager">
        {% if events.has_previous %}
            <li class="previous">
            <a href="{% append_to_get page=events.previous_page_number %}">&larr; Newer</a>
        {% else %}
            <li class="previous disabled">
            <a href="#" >&larr; Newer</a>
        {% endif %}
        
        </li>
        <li class="current">
            <a href="#">Page {{ events.number }} of {{ events.paginator.num_pages }}.</a>
        </li>
        
        {% if events.has_next %}
            <li class="next">
            <a href="{% append_to_get page=events.next_page_number %}">Older &rarr;</a>
        {% else %}
            <li class="next disabled">
            <a href="#">Older &rarr;</a>
        {% endif %}
        </li>
    </ul>
</div>
{% endblock %}
