{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
                <h2> {{msg }} Crew Chiefs for "{{ event }}"</h2>
                <form method="post" action="" class="form-inline" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="table table-striped" valign="top">
                    <tr>
                        <th>User </th>
                        <th>Hours </th>
                        {% if oldevent %}
                            <th>Service</th>
                        {% else %}
                            <th>Category</th>
                        {% endif %}
                        <th>Delete?</th>
                    </tr>
                {% for form in formset %}
                    {% if form.errors %}
                    <tr class="warning">
                        <td>{% for e in form.non_field_errors %}
                        {{ e }}
                        {% endfor %}
                        {% for e in form.user.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        <td>{% for e in form.hours.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        {% if oldevent %}
                            <td>{% for e in form.service.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        {% else %}
                            <td>{% for e in form.category.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        {% endif %}
                        <td>{% for e in form.DELETE.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{{ form.id }}{{ form.user }}</td>
                        <td>{{ form.hours }} </td>
                        {% if oldevent %}
                            <td>{{ form.service }}</td>
                        {% else %}
                            <td>{{ form.category }}</td>
                        {% endif %}
                        <td>{{ form.DELETE }} </td>
                    </tr>
                {% endfor %}
                </table>
                
                <div class="form-actions"><input name="save" value="Save Changes" class="btn btn-primary" id="submit-id-save" type="submit"> </div>
                </form>
                
        </div>
    </div>
{% endblock %}

{% block extras %}
{{ formset.media }}
{% include "js_datetimepick.tmpl" %}
{% endblock %}

{% block finalsay %}

{% endblock %}