{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
                <h2> {{msg }} </h2>
                <form method="post" action="" class="form-inline">
                {% crispy form %}
                <hr>
                {% crispy formset formset.form.helper %}
                <div class="form-actions"><input name="save" value="Save changes" class="btn btn-primary" id="submit-id-save" type="submit"> </div>
                </form>
                
        </div>
    </div>
{% endblock %}

{% block extras %}

{% include "js_datetimepick.tmpl" %}
{% endblock %}

{% block finalsay %}

{% endblock %}