{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
                <h2> {{msg }} </h2>
                {% crispy formset %}
        </div>
    </div>
    {{ e }}
{% endblock %}

{% block extras %}

{% include "js_datetimepick.tmpl" %}
<script>
    $(document).ready(function () {
        $("#samedate1").click(function(){
            var date = $("#id_datetime_setup_complete_0").val();
            $("#id_datetime_start_0").val(date);
            var time = $("#id_datetime_setup_complete_1").val();
            $("#id_datetime_start_1").val(time);
        });
        $("#samedate2").click(function(){
            var date = $("#id_datetime_setup_complete_0").val();
            $("#id_datetime_end_0").val(date);
            var time = $("#id_datetime_setup_complete_1").val();
            $("#id_datetime_end_1").val(time);
        });
    });
</script>
<style>
    .padleft {
    margin-left:65px;
    }
    .pushdown {
    margin-top:5px
    }
</style>
{% endblock %}

{% block finalsay %}

{% endblock %}