{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
                <h2> {{msg }} </h2>
                {% crispy formset %}
        </div>
    </div>
{% endblock %}

{% block extras %}

{% include "js_datetimepick.tmpl" %}
{% include "js_phonelimit.tmpl" %}
<script>
    $(document).ready(function () {
        $("#samedate1").click(function(){
            var date = $("#id_datetime_setup_complete_0").val();
            $("#id_datetime_start_0").data("datepicker").setDate(date);
            var time = $("#id_datetime_setup_complete_1").val();
            $("#id_datetime_start_1").data("timepicker").setTime(time);
        });
        $("#samedate2").click(function(){
            var date = $("#id_datetime_start_0").val();
            $("#id_datetime_end_0").data("datepicker").setDate(date);
            var time = $("#id_datetime_start_1").val();
            $("#id_datetime_end_1").data("timepicker").setTime(time);
        });
    });
</script>
<style>
    .padleft {
    margin-left:65px;
    }
    .pushdown {
    margin-top:5px
    }
</style>
{% endblock %}

{% block finalsay %}

{% endblock %}