{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}{{msg}} | Lens and Lights at WPI{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if extra %}
                <div class="pull-right">
                    <p class="lead">{{ extra }}</p>
                </div>
            {% endif %}
            {% if msg %}
                <h2> {{ msg }} </h2>
            {% endif %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block extras %}
{% include "js_phonelimit.tmpl" %}
{% include "js_datetimepick.tmpl" %}
{% endblock %}

{% block finalsay %}

{% endblock %}