{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block nav %}
    {% include "admin.nav.html" %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
                <h2> {{msg }} for "<em>{{ event.event_name }}</em>"</h2>
                <h4>Current Crew </h4>
                <table class="table">
                    {% for crew in event.crew.all %}
                    
                    <tr>
                        <td> <a href="{% url "events.views.flow.rmcrew" event.id crew.id %}"><i class="glyphicon glyphicon-remove"></i></a>
                        <td> {{ crew.first_name }} {{crew.last_name}} </td>
                        
                    </tr>
                    {% empty %}
                    <tr class="warning"><td> No Crew Set </td></tr>
                    {% endfor %}
                </table>
                <h4>Add More</h4>
                {% crispy formset %}
        </div>
    </div>
{% endblock %}

{% block extras %}

<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}js//bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
$(function() {
    $('.dtw').datetimepicker({
        language: 'en'
    });
  });
</script>
<style>
    .ui-corner-all {
        background: #FFF;
    }
</style>
{% endblock %}