{% extends 'base_admin.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extras %}

    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.radio').addClass("btn btn-warning btn-large");
            $('.radio input').hide();
            $('.radio').button();
            $('input:checked').parent().button('toggle');
            $('.radio').parent().attr("data-toggle","buttons-radio")//.addClass('btn-group')
            $('.radio').parent().mousedown(function () {
                $(this).button('toggle');
                $(this).siblings().button('reset');
                });
            // checkboxes
            $('.checkboxinput').addClass('btn');
            // set this before the extras selector
            var id_string = "#div_id_lighting-";
            {% include 'js_extras_select.tmpl' %}
            });
            
            
    </script>
    
    <style>
/*         li {float:left; margin: 3px; list-style-type:none} */
        /* fix tiny button issue */
        .controls > .radio:first-child {padding-top:11px;}
        .controls > .radio {padding-top:11px;}
        .btn {margin:2px}
    </style>
    
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
            <h2> {{msg }} </h2>
            <p class="lead text-muted muted">Dates with the name field left blank will not be added</p>

            <form method="post" action="" class="form-horizontal">
                {% csrf_token %}
                {{ form.management_form }}
                <table class="table table-striped" valign="top">
                    <tr>
                        <th>Date</th>
                        <th>Name </th>
                        <th>Matinee</th>
                    </tr>
                {% for form in form.forms %}
                    {% if form.errors %}
                    <tr class="warning">
                        aaa
                        <td>{% for e in form.non_field_errors %} {{ e }}  {% endfor %}
                        {% for e in form.date.errors %} {{ e }} <i class="icon-chevron-down"></i> {% endfor %}</td>
                        <td>{% for e in form.name.errors %} {{ e }} <i class="icon-chevron-down"></i> {% endfor %}</td>
                        <td>{% for e in form.matinee.errors %} {{ e }} <i class="icon-chevron-down"></i> {% endfor %}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{{ form.date }} </td>
                        <td>{{ form.name }} </td>
                        <td>{{ form.matinee }} </td>
                    </tr>
                {% endfor %}
                </table>
                <div class="form-actions">
                    <input name="submit" value="Save changes" class="btn btn-primary" id="submit-id-save" type="submit"> 
                    {% if pk %}<a class="btn btn-danger" href="{% url "projection-delete" pk %}">Delete This User</a> {% endif %}
                </div>
            </form>
            
        </div>
    </div>

{% endblock %}
