{% extends 'base_admin.html' %}

{% block title %}Added Bulk Movies | Lens and Lights at WPI{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
            <h2> Events Added </h2>
            
            <ul>
            {% for event in result %}
                <li>
                    <a href="{% url "events:detail" event.id %}">{{event.event_name}}</a>
                </li>
            {% empty %}
            No Events Added
            {% endfor %}
            </ul>
            
        </div>
    </div>

{% endblock %}
