{% extends 'base_admin.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <h2> {{msg }} </h2>
                <h4>Current CC </h4>
                <table class="table">
                    {% for crew in event.crew_chief.all %}
                    
                    <tr>
                        <td> <a href="{% url "events:remove-chief" event.id crew.id %}"><i class="glyphicon glyphicon-remove"></i></a>
                        <td> {{ crew.first_name }} {{crew.last_name}} </td>
                        
                    </tr>
                    {% endfor %}
                </table>
                <h4>Add More</h4>
                <form class="form-horizontal" method="post" action="">
                {% csrf_token %}              
                {{formset|as_bootstrap}}
                <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extras %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js//bootstrap-datetimepicker.min.js' %}"></script>
<style>
    .ui-corner-all {
        background: #FFF;
    }
</style>
{% endblock %}