{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
                <h2> {{msg }} for "<em>{{ event }}</em>"</h2>
                <form method="post" action="" class="form-inline" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <table class="table table-striped" valign="top">
                    <tr>
                        <th>Category</th>
                        <th>Equipment Name</th>
                        <th>Quantity </th>
                        <th>Delete?</th>
                    </tr>
                {% for form in formset %}
                    {% if form.errors %}
                    <tr class="warning">
                        <td>{% for e in form.category.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        <td>{% for e in form.name.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        <td>{% for e in form.quant.errors %} {{ e }} <i class="glyphicon glyphicon-chevron-down"></i> {% endfor %}</td>
                        <td></td>
                    </tr>
                {% endif %}
                    <tr>
                        <td>{{ form.category }} </td>
                        <td>{{ form.id }}{{ form.name }} </td>
                        <td>{{ form.quant }} </td>
                        <td>{{ form.DELETE }} </td>
                    </tr>
                {% endfor %}
                </table>
                
                <div class="form-actions"><input name="save" value="Save Changes" class="btn btn-primary" id="submit-id-save" type="submit"> </div>
                </form>
                
        </div>
    </div>
{% endblock %}

{% block extras %}
{{ formset.media }}
{% include "js_datetimepick.tmpl" %}
{% endblock %}

{% block finalsay %}

{% endblock %}