{% extends 'base_admin.html' %}
{% load bootstrap_toolkit %}
{% load staticfiles %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2> {{msg }} </h2>
                <form class="form-horizontal" method="post" action="">
                {% csrf_token %}              
                {{form|as_bootstrap:"vertical"}}
                <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extras %}

    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <link href="{% static 'css/ajax_select.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static '/js/ajax_select.js' %}"></script>

{% include "js_datepick.tmpl" %}
{% endblock %}