{% extends 'base_admin.html' %}

{% block title %}Cancel PIT Request | Lens and Lights at WPI{% endblock %}
{% block content %}
<h3>Are you sure you want to cancel this request?</h3>
<form action="" method="post">{% csrf_token %}
<input class="btn btn-danger btn-lg" type="submit" value="Yes"/>  <input class="btn btn-info btn-lg" type="button" value="No" onclick="window.history.go(-1);"/>
</form>
{% endblock %}


{% block extras %}
{% include "js_phonelimit.tmpl" %}
{% include "js_datetimepick.tmpl" %}
{% endblock %}

{% block finalsay %}

{% endblock %}