{% extends 'base.html' %}
{% block content %}    
<div class="row">

    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Welcome to the LNL Database</h2>
            <p>Your next great experience starts here!</p>
        </div>

        <div class="row text-center" style="margin: auto">
            <div {% if request.user.is_lnl %}class="col-md-4" {% else %}class="col-md-6"{% endif %}>
                <h2>Workorders</h2>

                <p><a class="btn btn-primary" href="/workorder">Submit a Workorder &raquo;</a><br><br></p>
            </div><!--/span-->

            <div {% if request.user.is_lnl %}class="col-md-4" {% else %}class="col-md-6"{% endif %}>
                <h2>Your Account</h2>
                <p><a class="btn btn-success" href="{% url "accounts:me" %}">View Profile &raquo;</a><br><br></p>
            </div><!--/span-->

            {% if request.user.is_lnl %}
            <div class="col-md-4">
                <h2>Dashboard</h2>
                <p><a class="btn btn-danger" href="{% url "home" %}">Let's Go! &raquo;</a></p>
            </div><!--/span-->
            {% endif %}
        </div><!--/row-->
         
    </div><!--/span-->
</div><!--/row-->
<hr>
{% endblock %}
