{% extends 'base_admin.html' %}
{% block content %}
<h2>{{ h2 }}</h2>
{% if cats or scats %}
<div class="well well-small">
    {% if cats %}
    <ul class="nav nav-pills">
        <li class="disabled"><a>Categories</a></li>
        {% for cat in cats %}
        <li><a href="{% url "inventory.views.cat" cat %}">{{ cat }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if scats %}
    <ul class="nav nav-pills">
        <li class="disabled"><a>SubCategories</a></li>
        {% for scat in scats %}
        <li><a href="{% url "inventory.views.subcat" scat.category scat %}">{{ scat }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                SubCategory
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    {% for i in inv  %}
            <tr>
                <td><a href="{% url "inventory.views.detail" i.id %}">{{i}}</a></td>
                <td><a href="{% url "inventory.views.cat" i.subcategory.category.id %}">{{i.subcategory.category }}</a></td>
                <td><a href="{% url "inventory.views.subcat" i.subcategory.category.id i.subcategory.id %}">{{i.subcategory }}</a></td>
                <td>
                    <i class="{{ i.status.iconclass }}" title="{{ i.status}}"></i> 
                </th>
            </tr>
    {% endfor %}
</table>
{% endblock %}