<script type="text/javascript">
    $(document).ready(function () {
        $(".dtp").parent().find(":first-child").addClass('datepick')
        $(".datepick").datepicker({
                format: 'yyyy-mm-dd',
            });
        });
</script>