<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-timepicker.js"></script>
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/timepicker.css" rel="stylesheet">
<style>
    .day,.switch,.next,.prev {color:#111;}
    .dow { color:#333;}
    
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dtp").parent().find(":first-child").addClass('datepick')
        $(".datepick").datepicker({
                format: 'yyyy-mm-dd',
            });
        
        $(".dtp").parent().find(":last-child").addClass('timepick');
        $(".timepick").timepicker(
            {
                minuteStep: 30,
                showInputs: true,
                disableFocus: true,
                showMeridian: false,
                defaultTime: '12:00 PM',
                
            });
        });
</script>