<style>
    .day,.switch,.next,.prev {color:#111;}
    .dow { color:#333;}
    
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".dtptable").find(":first-child").addClass('datepick')
        $(".dtptable").find(":last-child").addClass('timepick');
        $(".dtp").parent().find(":first-child").addClass('datepick')
        $(".datepick").datepicker({
                format: 'yyyy-mm-dd',
            });
        
        $(".dtp").parent().find(":last-child").addClass('timepick');
        $(".timepick").timepicker(
            {
                minuteStep: 30,
                showInputs: true,
                disableFocus: true,
                showMeridian: false,
                defaultTime: false,
                
            });
        });
</script>