<script type="text/javascript">
    $(document).ready(function () {
        $("#showselect").click(function(){
            $(".eventselect").toggleClass("hide");
        });
        $("#submitselect-workorders").click(function(){
            var selectedids = $("input.eventselect[type='checkbox']:checked").map(
                function () {return this.value;}).get().join(",");
            var baseurl = "{{pdfurl_workorders}}";
            var target = baseurl + selectedids + "/"
            window.location.href = target
        });
        $("#submitselect-bills").click(function(){
            var selectedids = $("input.eventselect[type='checkbox']:checked").map(
                function () {return this.value;}).get().join(",");
            var baseurl = "{{pdfurl_bills}}";
            var target = baseurl + selectedids + "/"
            window.location.href = target
        });
    })
</script>