// for on load
$(".extra_fs .form-group").each(function() {
        $(this).addClass("text-muted");
    });

$(".radio").change(function(){
//     var service_id = $(this).children("input:radio").val();
    var service_id = $(this).val();
    var service_str = ".s_" + service_id;
    console.log(service_str);
    
    // clear selections
    $(".extra_fs .form-group").each(function() {
        $(this).removeClass("has-success has-feedback");
        $(this).addClass("text-muted disabled");
        $(this).show()
        // hide the fields that should be hidden
        $(this).find("[disappear='True']").parent().parent().hide()
        $(this).find("[disappear='True']").each(function() {
            $(this).val(0);
//             console.log("THIS")
//             console.log(this)
            $(this).attr('checked', false);
        });
    });
    // update selections
    $(service_str).each(function() {
        target_id = id_string + $(this).attr('id');
        console.log(target_id);
        $(target_id).addClass("has-success has-feedback");
        $(target_id).removeClass("text-muted");
        $(target_id).find("[disappear='True']").parent().parent().show()
    });
    //.attr('id');
    //console.log(x);
});