{% extends 'base.html' %}

{% block nav %}
    {% include "my.nav.html" %}
{% endblock %}

{% block content %}
<div class="container marketing" style="text-align:center;">
    <h1> NO TOUCHING</h1>
    <img src="{{ STATIC_URL}}/img/notouching.gif" />
    user: {{ kitty.user }} <br />
    ip: {{ kitty.user_ip }} <br />
    requested_url: {{ kitty.requested_uri }} <br />
    timestamp: {{ kitty.timestamp }} <br />
    <br />
    <strong>You've been logged.</strong>
    {{foo}}
</div>

{% endblock %}