{% extends 'base_admin.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}View Meetings | Lens and Lights at WPI{% endblock %}
{% block content %}
    {% for name, mtgs in lists %}
        <h1>{{ name }}</h1>
        <div class="row">
            <div class="col-lg-11">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                {% for m in mtgs %}
                <tr>
                    <td><a href="{% url "meetings:detail" m.id %}">{{ m }}</a></td>
                    <td>{{m.meeting_type}}</td>
                    <td>{{ m.num_attendees }}</td>
                </tr>
                {% endfor %}
            </table>
            {% if name != "Meetings In Progress" %}
            <ul class="pager">

                {% if mtgs.has_previous %}
                    <li class="previous">
                    <a href="{% url "meetings:list_bypage" mtgs.previous_page_number %}">&larr; Previous</a>
                {% else %}
                    <li class="previous disabled">
                    <a>&larr; Previous</a>
                {% endif %}
                
                </li>
        
                
                <li>
                    <a href="#">Page {{ mtgs.number }} of {{ mtgs.paginator.num_pages }}</a>
                </li>
        
                {% if mtgs.has_next %}
                    <li class="next">
                    <a href="{% url "meetings:list_bypage" mtgs.next_page_number %}">Next &rarr;</a>
                {% else %}
                    <li class="next disabled">
                    <a>Next &rarr;</a>
                {% endif %}
                
                </li>

            </ul>
            {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
