{% extends 'base_admin.html' %}
{% load at_user_linking %}
{% load at_event_linking %}
{% load markdown_deux_tags %}
{% load bootstrap_toolkit %}
{% load permissionif %}
{% load lnldb_tags %}
{% block content %}
    <div class="jumbotron">
        <h1>{{ m.name }}</h1>

        <h2>{{ m.datetime | daterange:m.endtime }}</h2>
        {% permission user has 'meetings.edit_mtg' of m %}
            <a class="btn btn-lg btn-primary" href="{% url "meetings:edit" m.id %}">Edit</a>
        {% endpermission %}
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" id="meetingtabs">
                <li class="active"><a href="#attendance" data-toggle="tab">Attendance</a></li>
                <li><a href="#emails" data-toggle="tab">Emails</a></li>
                <li><a href="#agenda" data-toggle="tab">Agenda</a></li>
                <li><a href="#minutes" data-toggle="tab">Minutes</a></li>
                {% permission request.user has 'meetings.view_mtg_closed' of m %}
                    <li><a href="#closed" data-toggle="tab">Closed Minutes</a></li>
                {% endpermission %}
                <li><a href="#attachments" data-toggle="tab">Attachments</a></li>
                <li><a href="#events" data-toggle="tab">Events</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <div class="tab-pane active" id="attendance">
                    <h3>Attendance:</h3>
                    <ul>
                    {% for a in m.attendance.all %}
                        <li><a href="{% url "accounts:detail" a.id %}">{{ a.first_name }} {{ a.last_name }}</a></li>
                    {% empty %}
                        <small>Nobody is here I guess.</small>
                    {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane" id="agenda">
                    <h3>Agenda:</h3>

                    <div class="note-body agenda">
                        {% if m.agenda %}
                            {{ m.agenda | mduserlink | mdeventlink | markdown }}
                        {% else %}
                            <i>There is nothing here</i>
                        {% endif %}
                    </div>
                </div>

                <div class="tab-pane" id="minutes">
                    <h3>Meeting Minutes:</h3>

                    <div class="note-body minutes">
                        {% if m.minutes %}
                            {{ m.minutes | mduserlink | mdeventlink | markdown }}
                        {% else %}
                            <i>There is nothing here</i>
                        {% endif %}
                    </div>
                </div>

                {% permission request.user has 'meetings.view_mtg_closed' of m %}
                    <div class="tab-pane" id="closed">
                        <h3>Closed Meeting Minutes:</h3>

                        <div class="note-body closed-minutes">
                            {% if m.minutes_private %}
                                {{ m.minutes_private | mduserlink | mdeventlink | markdown }}
                            {% else %}
                                <i>There is nothing here</i>
                            {% endif %}
                        </div>
                    </div>
                {% endpermission %}

                <div class="tab-pane" id="attachments">
                    <h3>Attachments:</h3>
                    <ul>
                        {% for a in m.attachments.all %}
                            {% permission not a.private or request.user has 'meetings.view_mtg_closed' of m %}
                                <li><a href="{% url 'meetings:att-dl' m.pk a.pk %}">{{ a.name }}</a>
                                    {% permission request.user has 'meetings.edit_mtg' of m %}
                                        [<a href="{% url 'meetings:att-edit' m.pk a.pk %}">Edit</a>]
                                    {% endpermission %}
                                </li>
                            {% endpermission %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane" id="emails">
                    <h3>E-Mail</h3>
                    {% if m.meetingannounce_set.exists or m.meetingccnotices.exists %}
                        <strong> Emails Sent:</strong>

                        <div class="panel-group" id="accordion0">

                            {% for announce in m.meetingannounce_set.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapsea{{ forloop.counter0 }}">
                                        ({{ announce.added }})
                                    </a>
                                </div>
                                <div id="collapsea{{ forloop.counter0 }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Subj:</b> {{ announce.subject }} <br/>
                                        <b>Sent To:</b> {{ announce.email_to }} <br/>

                                        <br/>{{ announce.message | markdown }} <br/>

                                        {% if announce.events.exists %}
                                            <b>Events:</b> <br/>
                                            {% for event in announce.events.all %}
                                                {{ event }}<br/>
                                            {% endfor %}
                                        {% endif %}

                                        <br/>
                                        <a href="{% url "email-view-announce" announce.uuid %}" class="cm-webversion">View
                                            Online</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% for announce in m.meetingccnotices.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapseb{{ forloop.counter0 }}">
                                        CC ({{ announce.sent_at }})
                                    </a>
                                </div>
                                <div id="collapseb{{ forloop.counter0 }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Subj:</b> {{ announce.subject }} <br/>
                                        <b>Sent To:</b> {{ announce.email_to }} <br/>

                                        <br/>{{ announce.addtl_message | markdown }} <br/>

                                        {% if announce.events.exists %}
                                            <b>Events:</b> <br/>
                                            {% for event in announce.events.all %}
                                                {{ event }}<br/>
                                            {% endfor %}
                                        {% endif %}

                                    <a href="{% url "email-view-announce-cc" announce.uuid %}" class="cm-webversion">View Online</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>


                        <br />
                    <a class="btn btn-default" href="{% url "meetings:email" m.id %}">Send Meeting E-Mail</a>
                    <a class="btn btn-primary" href="{% url "meetings:cc-email" m.id %}">Send Crew E-Mail</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url "meetings:email" m.id %}">Send Meeting E-Mail</a>
                    {% endif %}
                </div>

                <div class="tab-pane" id="events">
                <h3>This Week's Upcoming Events</h3>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Services</th>
                            <th>Setup Start</th>
                            <th>Setup Completed By</th>
                            <th>CC's</th>
                            <th></th>
                        </tr>
                        {% for e in events %}
                            <tr data-toggle="collapse" data-target="#entry{{e.id}}">
                                <td><a href="{% url "events.views.flow.viewevent" e.id %}">{{ e.event_name }}</a></td>
                                <td>
                                    {% if e.lighting %} {{ e.lighting.shortname }} {% endif %}
                                    {% if e.sound %} {{ e.sound.shortname }} {% endif %}
                                    {% if e.projection %} {{ e.projection.shortname }} {% endif %}
                                    {% if e.otherservices %} {{ e.otherservices.shortname }} {% endif %}
                                </td>
                                <td>
                                    {% for c in e.ccinstances.all %}
                                        <strong>{{ c.service.shortname }}</strong> :
                                        {{ c.setup_start }}<br />
                                    {% endfor %}
                                </td>
                                <td>{{ e.datetime_setup_complete }}</td>

                                <td>
                                    {% for c in e.ccinstances.all %}
                                        <strong>{{ c.service.shortname }}</strong> :
                                        <a href="{% url "accounts:detail" c.crew_chief.id %}">{{ c.crew_chief.first_name }} {{ c.crew_chief.last_name }}</a>
                                        {% if not forloop.last %}<br/>{% endif %}
                                    {% empty %}
                                        None Set
                                    {% endfor %}
                                </td>
                                <td>
                                    {% permission user has 'meetings.edit_mtg' of m %}
                                    <a class="btn btn-default" href="{% url "meetings:addchief" mtg_id=m.id event_id=e.id %}">Setup Time &amp; Crew Chiefs</a>
                                    {% endpermission %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <div class="collapse" id="entry{{e.id}}">
                                    {{ e.description|mduserlink|mdeventlink|markdown }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <h3>Future Events (next week)</h3>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Services</th>
                            <th>Setup Start</th>
                            <th>Setup Completed By</th>
                            <th>CC's</th>
                            <th></th>
                        </tr>
                        {% for e in future %}
                            <tr data-toggle="collapse" data-target="#entry{{e.id}}">
                                <td><a href="{% url "events.views.flow.viewevent" e.id %}">{{ e.event_name }}</a></td>
                                <td>
                                    {% if e.lighting %} {{ e.lighting.shortname }} {% endif %}
                                    {% if e.sound %} {{ e.sound.shortname }} {% endif %}
                                    {% if e.projection %} {{ e.projection.shortname }} {% endif %}
                                    {% if e.otherservices %} {{ e.otherservices.shortname }} {% endif %}
                                </td>
                                <td>{{ e.datetime_setup_start }}</td>
                                <td>{{ e.datetime_setup_complete }}</td>

                                <td>
                                    {% for c in e.ccinstances.all %}
                                        <a href="{% url "accounts:detail" c.crew_chief.id %}">{{ c.crew_chief.first_name }} {{ c.crew_chief.last_name }}</a>
                                        &nbsp;
                                        {% if not forloop.last %},{% endif %}
                                    {% empty %}
                                        None Set
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-default" href="{% url "meetings:addchief" mtg_id=m.id event_id=e.id %}">Setup Time &amp; Crew Chiefs</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <div class="collapse" id="entry{{e.id}}">
                                    {{ e.description|mduserlink|mdeventlink|markdown }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
{% endblock %}

{% block extras %}

{% endblock %}
