{% extends 'base.html' %}

{% block nav %}
    {% include "my.nav.html" %}
{% endblock %}

{% block content %}
<div class="container marketing" style="text-align:center;">
    <div class="row">
        <div class="span3">
            <img class="img-circle" src="http://placehold.it/140x140" />
            <h2> My Account </h2>
            <a href="{% url "my-acct" %}" class="btn btn-large btn-primary">Modify Account</a>
        </div>

        
        <div class="span3">
            <img class="img-circle" src="http://placehold.it/140x140" />
            <h2> WorkOrders </h2>
            <div class="btn-group">
                <a href="/workorder" class="btn btn-large btn-primary">New</a>
                <a href="{% url "events.views.my.mywo" %}" class="btn btn-large btn-primary">Repeat Previous</a>
            </div>
        </div>

        
        <div class="span3">
            <img class="img-circle" src="http://placehold.it/140x140" />
            <h2> My Orgs </h2>
            <a href="{% url "events.views.my.myorgs" %}" class="btn btn-large btn-primary">Associated Orgs</a>
        </div>

        {% if is_lnl %}
        <div class="span3">
            <img class="img-circle" src="http://placehold.it/140x140" />
            <h2> My Events </h2>
            <a href="{% url "events.views.my.myevents" %}" class="btn btn-large btn-primary">Submitted Events</a>
            
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}