<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                {% if user.is_authenticated %}
                Logged in as <a href="#" class="navbar-link">{{ user }}</a> &middot; <a href="/local/logout">Log Out</a>
                {% else %}
                <a href="/local/login"> Log In </a>
                {% endif %}
                </p>
            </div>


            <a class="brand" href="{% url "events.views.indices.index" %}">Lens and Lights Database</a>
        </div>
    </div>
</div>