<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lnl-nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WPI Lens and Lights</a>
        </div>
    
        <div class="collapse navbar-collapse" id="lnl-nav-collapse">
            
            <p class="navbar-text navbar-right">
            {% if user.is_authenticated %}
                Logged in as <a href="#" class="navbar-link">{{ user }}</a> &middot;
                <a href="{% url "accounts:logout" %}">Log Out</a>
            {% else %}
                <a href="{% url "accounts:login" %}"> Log In </a>
            {% endif %}
            </p>
        </div>

    </div>
</div>