{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extras %}
{% include "js_phonelimit.tmpl" %}
{% endblock %}

{% block content %}    
<div class="pull-right text-muted">
    
    {% if object.profile.is_lnl %} 
    
    {% else %} 
        If you're not an LNL member click
        <a href="{% url 'my-acct-request-lnl' %}">
        this link
        </a>
        to request access
    {% endif %}
</div>
<h1> <a href="{% url "events.views.my.my" %}">My</a> Account </h1>

    <div class="well well-lg">
{% crispy form %}
</div>
{% endblock %}