{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block extras %}
{% include "js_phonelimit.tmpl" %}
{% include "js_datetimepick_wo.tmpl" %}
<script type="text/javascript">
        $(document).ready(function () {
            
            $('.radio-inline').addClass("btn btn-warning btn-lg");
//             $('.radio-inline input').hide();
            $('.radio-inline').button();
            $('input:checked').parent().button('toggle');
            $('.radio').parent().attr("data-toggle", "buttons").parent().addClass('btn-group');
            $('.radio').parent().mousedown(function () {
                $(this).button('toggle');
                $(this).siblings().removeClass('active');
                });
            // checkboxes
            $('.checkboxinput').addClass('btn');
            // set this before the extras selector
            var id_string = "#div_id_lighting-";
            {% include 'js_extras_select.tmpl' %}
            
            // for checboxes
            $('.checkbox-inline').addClass("btn btn-warning btn-lg");
            $('.checkbox-inline input ').hide();
            $('.checkbox-inline').parent().button();
            $('input:checked').parent().button('toggle');
            $('.checkbox-inline').mousedown(function () {
                $(this).button('toggle');
                });
            });
            
</script>
{% endblock %}

{% block content %}    
<h1> <a href="{% url "events.views.my.my" %}">My</a> {{msg|safe}} </h1>

    <div class="well well-lg">
{% if extra_text %}<p class="text-muted">{{ extra_text|safe }}<br /><br /></p>{% endif %}
{% crispy formset %}
</div>
{% endblock %}