{% extends 'base.html' %}

{% block content %}
    {% if member %}
        {% if user.crewchiefx.count %}
            <h1> <a href="{% url "events.views.my.my" %}">My</a> CC'd Events </h1>
            <table class="table table-striped table-bordered">
                <tr> 
                    <th>Name </th>
                    <th>Date </th>
                    <th>Location </th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for event in user.crewchiefx.all %}
                        <tr>
                            <td>{{event.event_name}}</td>
                            <td title="{{event.datetime_end}}">{{event.datetime_end|timesince}} Ago</td>
                            <td>{{event.location}}</td>
                            <td>{{ event.status }}</td>
                            <td>{% if not event.closed %}
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'my-ccreport' event.id %}">CC Report</a>
                                    <a class="btn btn-info" href="{% url 'my-cchours' event.id %}">Crew Hours</a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                {% empty %}
                <tr>
                    <td colspan="4">You dont have any events.</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    <h1> <a href="{% url "events.views.my.my" %}">My</a> Involved Events </h1>
    <table class="table table-striped table-bordered">
        <tr> 
            <th>Name </th>
            <th>Date </th>
            <th>Location </th>
            <th></th>
        </tr>
        {% for event in user.crewx.all %}
                <tr>
                    <td>{{event.event_name}}</td>
                    <td title="{{event.datetime_end}}">{{event.datetime_end|timesince}} Ago</td>
                    <td>{{event.location}}</td>
                    <td>{# <a class="btn">Repeat</a> ADD ME BACK LATER#}</td>
                </tr>
        {% empty %}
        <tr>
            <td colspan="4">You dont have any events.</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if user.submitter.count %}
        <h1> <a href="{% url "events.views.my.my" %}">My</a> Submitted Events </h1>
        <table class="table table-striped table-bordered">
            <tr> 
                <th>Name </th>
                <th>Date </th>
                <th>Location </th>
                <th>Status</th>
            </tr>
            {% for event in user.submitter.all %}
                    <tr>
                        <td>{{event.event_name}}</td>
                        <td title="{{event.datetime_end}}">{{event.datetime_end|timesince}} Ago</td>
                        <td>{{event.location}}</td>
                        <td>{{ event.status }}</a>
                    </tr>
            {% empty %}
                <tr>
                    <td colspan="4">You haven't submitted any events</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}