{% extends 'base_admin.html' %}

{% block content %}
    <h1><a href="{% url "my:events" %}">My</a> Hours for '<em>{{event}}</em>'</h1>
    <table class="table">
        <thead>
        <tr>
        <th>Member</th>
        <th>Hours</th>
        <th>Service</th>
        <th></th>
        </tr>
        </thead>
    {% for hour in hours %}
        <tr>
            <td>{{ hour.user.get_full_name }}</td>
            <td>{{ hour.hours }}</td>
            <td>{{ hour.service }}</td>
            <td><a href="{% url "my:hours-edit" event.id hour.user.id %}">Update</a>
        </tr>
    {% endfor %}
    </table>
    <a class="btn btn-primary btn-lg" href="{% url "my:hours-bulk" event.id %}">Bulk Add</a>
    <a class="btn btn-warning btn-lg" href="{% url "my:hours-new" event.id %}">Single Add</a>
    <a class="btn btn-warning btn-lg" href="{% url "my:events" %}">Done</a>
{% endblock %}