{% extends 'base_admin.html' %}

{% block content %}
    <h1>My Client Organizations </h1>
<p class="lead">
    All the organizations you are associated with. <a href="{% url 'events.views.my.myorgform' %}">Create one?</a>
</p>
<table class="table table-striped table-bordered">
    <tr> 
        <th>Name </th>
        <th>Status</th>
    </tr>
    {% for org in ownedorgs %}
            <tr>
                <td><a href="{% url 'events.views.orgs.orgdetail' org.pk %}">{{ org }}</a></td>
                <td>Owner</td>
            </tr>
    {% endfor %}
    {% for org in memberorgs %}
        <tr>
            <td><a href="{% url 'events.views.orgs.orgdetail' org.pk %}">{{ org }}</a></td>
            <td>Member</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}