{% extends 'base.html' %}

{% block content %}    
<h1> <a href="{% url events.views.my.my %}">My</a> Work Orders </h1>
<table class="table table-striped table-bordered">
    <tr> 
        <th>Name </th>
        <th>Date </th>
        <th>Location </th>
        <th></th>
    </tr>
    {% for event in events %}
            <tr>
                <td>{{event.event_name}}</td>
                <td title="{{event.datetime_end}}">{{event.datetime_end|timesince}} Ago</td>
                <td>{{event.location}}</td>
                <td><a class="btn">Repeat</a>
            </tr>
    {% empty %}
    You dont have any events.
    {% endfor %}
</table>
{% endblock %}