{% extends 'base_admin.html' %}
{% load lnldb_tags %}

{% block content %}    
<h1> <a href="{% url "accounts:me" %}">My</a> Previous Work Orders </h1>
<p class="lead">Here you can see all your associated orgs' previous events</p>
<table class="table table-striped table-bordered">
    <thead>
    <tr> 
        <th>Name </th>
        <th>Date </th>
        <th>Location </th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for org,events in events.items %} 
        <thead><tr ><th colspan="5">{{ org }}</th></tr></thead>
        {% for event in events %}
            <tr class="info">
                <td>{{event.event_name|public_field}}</td>
                <td title="{{event.datetime_end}}">{{event.datetime_end|timesince}} ago</td>
                <td>{{event.location}}</td>
                <td>{{ event.status }}</td>
                <td> 
                    {% if not event.closed and not event.cancelled and not event.over %}
                    <a class="btn btn-primary" href="{% url "my:event-attach" event.id %}">Attachments</a>
                    {% endif %}
                    <a class="btn btn-default"  href="{% url 'events:pdf' event.id %}">Workorder PDF </a>
                    {# <a class="btn btn-default">Repeat </a> #}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

{% endblock %}
