{% extends 'base_admin.html' %}
{% load permissionif %}
{% block extrajs %}
    $(document).ready(function () {
        $('.collapse').collapse('hide');
    });
{% endblock %}


{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <div class="jumbotron">
                 <h1>{{org }}</h1>
                 {% if org.shortname %}
                 ({{ org.shortname }})
                 {% endif %}
                {% permission user has 'events.edit_org' of org %}
                 <a class="btn btn-lg btn-primary" href="{% url "orgs:edit" org.id %}">Edit</a>
                {% endpermission %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Contact</h3>
            <table>
                <tr>
                    <th>Address</th>
                    <td>{{org.address}}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ org.phone }}</td>
                </tr>
                <tr>
                    <th>Exec Email </th>
                    <td><a href="mailto:{{ org.exec_email }}">{{ org.exec_email }}</a></td>
                </tr>
                <tr>
                    <th>Club Email </th>
                    <td><a href="mailto:{{ org.email }}"> {{ org.email }}</a> </td>
                </tr>
                <tr>
                    <th>User in charge </th>
                    <td> {{ org.user_in_charge }} </td>
                </tr>
            
            </table>
        </div>
        {% permission user has 'events.list_org_fund' of org %}
        <div class="col-md-3">
            <h3>Money</h3>
            <table>
                {% for f in org.accounts.all %}
                    {% permission user has 'events.edit_fund' of f %}
                <tr><td>
                    <b><a href="{% url 'orgs:fundedit' f.id %}">{{ f }}</a></b>
                    {% if f.notes %}{{ f.notes }}{% endif %}
                </td></tr>
                        {% elpermission user has 'events.view_fund' of f %}
                        <tr>
                            <td>
                                <b><a href="{% url 'orgs:fundedit' f.id %}">{{ f }}</a></b>
                                {% if f.notes %}{{ f.notes }}{% endif %}
                            </td>
                        </tr>
                    {% endpermission %}
                {% endfor %}
                <tr><td>
                    <b><a href="{% url 'orgs:fundadd' org.id %}">[Add New]</a></b>
                </td></tr>
                {% permission user has 'events.view_verifications' of org %}
                <tr>
                    <td colspan="2">
                        {% if org.verifications.exists %}
                        <p class="muted text-muted">
                        Last verified by: {{ org.verifications.latest.verified_by }} on {{ org.verifications.latest.date }}
                        </p>

                        {% else %}
                        <p class="muted text-muted">No verification created</p>
                        {% endif %}
                        {% permission user has 'events.add_verification' of org %}
                        <a href="{% url "orgs:verify" org.id %}">Create Verification</a>
                        {% endpermission %}
                    </td>
                </tr>
                {% endpermission %}
                
            </table>
        </div>
        {% endpermission %}
        <div class="col-md-3">
            <h3>Associated Users</h3>
            <ul class="list-unstyled">
                <li><b><a
                        href="{% url 'accounts:detail' org.user_in_charge.pk %}">{{ org.user_in_charge }}
                    [Owner]</a></b></li>
                {% for u in org.associated_users.all %}
                    <li><a href="{% url 'accounts:detail' u.pk %}">{{ u }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Associated Orgs</h3>
            <ul class="list-unstyled">
                {% for o in org.associated_orgs.all %}
                <li><a href="{% url "orgs:detail" o.id %}">{{o}}</a></li>
                {% empty %}
                <li>No Associated Orgs</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <h3>Events</h3>
        <table class="table table-compact">
            <thead>
            <tr>
                <th>
                    Event Name
                </th>
                <th>
                    Date Ended
                </th>
                <th>
                    Location
                </th>
                <th>
                    Services
                </th>
                <th>
                    Status
                </th>
            </tr>
            </thead>
            {% for e in events %}
                {% permission user has 'events.view_event' of e %}
            <tr>
                <td>
                    <a href="{% url "events:detail" e.id %}">{{ e }}</a>
                </td>
                <td>
                    {{ e.datetime_end }}
                </td>
                <td>
                    {{ e.location }}
                </td>
                <td>
                    {% for s in e.allservices %}
                    <i class="{{ s.i }}" title="{{s.title}}"></i>
                    {% endfor %}
                </td>
                <td>
                    {{ e.status }}
                </td>
            </tr>
                {% endpermission %}
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
