{% extends 'base_admin.html' %}
{% load markdown_deux_tags %}
{% load permissionif %}
{% block extrajs %}
    $(document).ready(function () {
        $('.collapse').collapse('hide');
    });
{% endblock %}

{% block title %}{{org}} | Lens and Lights at WPI{% endblock %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <div class="jumbotron{% if org.delinquent %} jumbotron-delinquent-org{% endif %}">
                {% if org.delinquent %}
                    <strong>This organization is delinquent on one or more bills.</strong>
                    <hr>
                {% endif %}
                <h1>{{org }}</h1>
                {% if org.shortname %}
                    ({{ org.shortname }})
                {% endif %}
                <div class="btn-group">
                    {% if request.user.is_lnl and org.slack_channel %}
                        <a class="btn btn-primary btn-lg" target="_blank" href="{{ org.slack_channel.link }}">Open Slack</a>
                    {% endif %}
                    {% permission user has 'events.edit_org' %}
                        <a class="btn btn-lg btn-warning" href="{% url "orgs:edit" org.id %}">Edit</a>
                        {% if user.is_superuser %}
                            <a class="btn btn-lg btn-primary" href="{% url "my:org-edit" org.id %}">Edit (External)</a>
                        {% endif %}
                    {% elpermission user has 'events.edit_org' of org %}
                        <a class="btn btn-lg btn-primary" href="{% url "my:org-edit" org.id %}">Edit</a>
                    {% endpermission %}
                    {% if not org.locked %}
                    {% permission user has 'events.transfer_org_ownership' of org %}
                        <a class="btn btn-lg btn-success" href="{% url "my:org-transfer" org.id %}">Transfer</a>
                    {% endpermission %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Contact</h3>
            <table class="table">
                {% if request.user.is_lnl and org.slack_channel %}
                <tr>
                    <th>Slack Channel</th>
                    <td> <a href="{{ org.slack_channel.link }}" target="_blank">{% if org.slack_channel.private %}<span class="glyphicon glyphicon-lock"></span> {% else %}#{% endif %}{{ org.slack_channel.name }}</a> </td> 
                </td>
                {% endif %} 
                <tr>
                    <th>Address</th>
                    <td>{{org.address}}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ org.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:{{ org.exec_email }}">{{ org.exec_email }}</a></td>
                </tr>
                <tr>
                    <th>User in charge</th>
                    <td> {{ org.user_in_charge }} </td>
                </tr>
                <tr>
                    <th>Info last updated</th>
                    <td>{{ history.first.revision.date_created }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <h3>Associated Users</h3>
            <ul class="list-unstyled">
                <li><b>
                    {% permission request.user has 'accounts.view_member' %}
                        <a href="{% url 'accounts:detail' org.user_in_charge.pk %}">
                    {% endpermission %}
                    {{ org.user_in_charge }} [Owner]
                    {% permission request.user has 'accounts.view_member' %}
                        </a>
                    {% endpermission %}
                </b></li>
                {% for u in org.associated_users.all %}
                    <li>
                        {% permission request.user has 'accounts.view_member' %}
                            <a href="{% url 'accounts:detail' u.pk %}">
                        {% endpermission %}
                        {{ u }}
                        {% permission request.user has 'accounts.view_member' %}
                            </a>
                        {% endpermission %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Associated Orgs</h3>
            <ul class="list-unstyled">
                {% for o in org.associated_orgs.all %}
                <li><a href="{% url "orgs:detail" o.id %}">{{o}}</a></li>
                {% empty %}
                <li>No Associated Orgs</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% permission user has 'events.view_org_notes' of org %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>Internal Notes</h3>
                {{ org.notes | markdown }}
            </div>
        </div>
        <hr>
    {% endpermission %}
    {% permission user has 'events.list_org_events' of org %}
        <div class="row">
            <div class="col-md-12">
                <h3>Events</h3>
                <table class="table table-compact">
                    <thead>
                    <tr>
                        <th>
                            Event Name
                        </th>
                        <th>
                            Date Ended
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Services
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                    </thead>
                    {% for e in events %}
                        {% permission user has 'events.view_events' of e %}
                    <tr>
                        <td>
                            <a href="{% url "events:detail" e.id %}">{{ e.event_name }}</a>
                        </td>
                        <td>
                            {{ e.datetime_end }}
                        </td>
                        <td>
                            {{ e.location }}
                        </td>
                        <td>
                            {% for s in e.allservices %}
                            <i class="{{ s.i }}" title="{{s.title}}"></i>
                            {% endfor %}
                        </td>
                        <td>
                            {{ e.status }}
                        </td>
                    </tr>
                        {% endpermission %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endpermission %}
    <div class="row">
        <div class="col-md-12">
            <h3>Audit Log</h3>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Comment</th>
                </tr>
                {% for version in history %}
                    <tr>
                        <td>
                            {{ version.revision.date_created }}
                        </td>
                        <td>
                            {% if version.revision.user %}
                                {{ version.revision.user }}
                            {% else %}
                                [None]
                            {% endif %}
                        </td>
                        <td>{{ version.revision.comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
