{% extends 'base_admin.html' %}
{% block content %}
<h2> Client List </h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Client Name</th>
        <th>Email</th>
        <th>User in charge</th>
        <th>Number of Funds</th>
        <th>Personal Org?</th>
    </tr>
    </thead>
    {% for org in orgs %}
        <tr>
            <td><a href="{% url "events.views.orgs.orgdetail" org.id %}">{{org}}</a></td>
            <td>{{ org.exec_email }}</td>
            <td>{{ org.user_in_charge }}</td>
            <td>{{ org.fund_count }}</td>
            <td>{{ org.personal }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}