
{% extends 'base_admin.html' %}
{% block content %}
<div class="pull-right">
    <a class="btn btn-warning btn-lg" href="{% url "projection-list-detail" %}"><i class="glyphicon glyphicon-th icon-white"></i>&nbsp;Detailed List</a>
    <a class="btn btn-info btn-lg" href="{% url "projection-bulk-update" %}"><i class="glyphicon glyphicon-fast-forward icon-white"></i>Bulk Update Projectionists</a>
    <a class="btn btn-info btn-lg" href="{% url "events-pdf-multi" %}"><i class="glyphicon glyphicon-print icon-white"></i>PDF</a>
</div>
<h2> {{ h2 }} </h2>
<table class="table table-striped table-bordered">
    <tr> 
        <th> User Name </th>
        <th> Class </th>
        <th> License Expiry </th>
        <th> License Number </th>
    </tr>
    {% for user in users %}
        {% if user.expired %}
            <tr class="error" title="Expired"> 
        {% elif user.expiring %}
            <tr class="warning" title="Expiring Soon">
        {% else %}
            <tr>
        {% endif %}
                <td><a href="{% url "projection-update" user.id %}">{{ user }}</a></td>
                <td>
                    {{ user.level.pit_level }}
                </td>
                <td>
                    {{ user.license_expiry }}
                </td>
                <td>
                    {{ user.license_number }}
                </td>
            </tr>
    {% endfor %}
    
</table>
<a class="btn btn-lg btn-primary" href="{% url "projection-create" %}">Create</a>
{% endblock %}