{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block title %}{{title}} | Lens and Lights at WPI{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if title %}
                <h2> {{ title }} </h2>
                <p>{{ desc }}</p>
            {% endif %}
            <div class="container col-md-12">
                <form method="post" action="" class="form-horizontal">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extras %}

{% include "js_datetimepick.tmpl" %}
<script type="text/javascript">
</script>
{{ form.media }}


{% endblock %}


{% block finalsay %}

{% endblock %}