
{% extends 'base_admin.html' %}
{% load permissionif %}
{% block title %}{{h2}} | Lens and Lights at WPI{% endblock %}
{% block content %}
<div class="pull-right">
    <a class="btn btn-warning btn-lg" href="{% url "projection:list" %}"><i class="glyphicon glyphicon-th-large icon-white"></i>&nbsp;Standard List</a>
    {% permission request.user has 'projection.edit_pits' %}
        <a class="btn btn-info btn-lg" href="{% url "projection:bulk-edit" %}"><i class="glyphicon glyphicon-fast-forward icon-white"></i>&nbsp;Bulk Update Projectionists</a>
    {% endpermission %}
    <a class="btn btn-info btn-lg" href="{% url "projection:pdf" %}"><i class="glyphicon glyphicon-print icon-white"></i>&nbsp;PDF</a>
</div>
<h2> {{ h2 }} </h2>
<table class="table table-striped table-bordered table-condensed">
    <tr> 
        <th> User Name </th>
        {% for level in levels %}
        <th> {{ level }} </th>
        {% endfor %}
    </tr>
    {% for user in current_users %}
        {% if user.expired %}
            <tr class="error" title="Expired"> 
        {% elif user.expiring %}
            <tr class="warning" title="Expiring Soon">
        {% else %}
            <tr>
        {% endif %}
                
                <td>
                    {% permission request.user has 'projection.edit_pits' %}
                        <a href="{% url "projection:edit" user.id %}">{{ user }}</a>
                        {% if user in licensed_users %}
                        <span class="label label-info">Licensed</span>
                        {% endif %}
                    {% else %}
                        <a href="{% url "accounts:detail" user.user.id %}">{{ user }} </a>
                        {% if user in licensed_users %}
                        <span class="label label-info">Licensed</span>
                        {% endif %}
                    {% endpermission %}
                </td>
                {% for level in levels %}
                    <td align="center" style="text-align: center" >
                        {% if level.name_short in user.validlevels %}
                    <strong>X</strong>
                    {% else %}
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
    {% endfor %}
    
</table>


<h3> Alumni Projectionists </h3>
<ul>
{% for user in alumni_users %}
    <li>
        {% permission request.user has 'projection.edit_pits' %}
            <a href="{% url "projection:edit" user.id %}">{{ user }}</a>
        {% else %}
            {{ user }}
        {% endpermission %}

        {% if user.expired %}
            <span class="badge badge-important" title="Expired">Expired</span>
        {% elif user.expiring %}
            <span class="badge badge-warning" title="Expiring Soon">Expiring Soon</span>
        {% else %}
            <span></span>
        {% endif %}

    
    
    </li>
{% endfor %}
</ul>
{% permission request.user has 'projection.edit_pits' %}
    <a class="btn btn-lg btn-primary" href="{% url "projection:new" %}">Create</a>
{% endpermission %}

{% endblock %}
