<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Join LNL!</title>
		<link rel="stylesheet" href="/recruitment/css/bootstrap.css">
		<link rel="stylesheet" href="/recruitment/css/index.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="d-none d-md-block">
			<div id="head">
				<div id="collage-tint"></div>
				<div class="scrolldownarrow"></div>
			</div>
		</div>
		<div class="d-md-none">
			<div id="headline-img">
				<img src="/recruitment/img/3.jpg">
				<div id="headline-img-tint"></div>
				<div class="scrolldownarrow"></div>
			</div>
		</div>
		<div id="headline" class="container">
			<div class="row h-100 sm-align-items-center">
				<div class="col-12">
					<img src="/recruitment/img/logo.png">
					<div class="headline-text lead">
						Lens and Lights is a student organization that provides
						professional quality lighting, sound, and projection services
						to the WPI campus and surrounding area. New members are always
						welcome; no experience is necessary!
					</div>
					<div class="mt-3">
						<a class="btn btn-primary" href="#join">Sign me up!</a>
						<a class="btn btn-primary" href="#about">Learn more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<a name="about"></a>
			<div class="row mt-5 mb-5">
				<div class="col-md mb-3">
					<img class="img-fluid" src="/recruitment/img/active-d23.jpg">
				</div>
				<div class="col-md">
						<h2>Hi!</h2>
						We are Lens and Lights, a group of students with a shared passion
						for event production. We amplify our technical experience and
						leadership skills by working in teams, with clients, and with
						professional grade equipment. Throughout the year we support
						countless events with quality lighting, sound, and projection
						services.
				</div>
			</div>
			<div class="row">
				<div class="col-lg mb-3">
					<h2>Lighting</h2>
					<p>
						LNL provides lighting for a variety of events with our inventory of
						professional grade equipment. We illuminate all sorts of events including
						full on dance parties, stage performances, live
						bands, receptions, outdoor gatherings, and large robotics
						competitions! The equipment we own includes a variety of
						conventional, LED, and arc lamp fixtures which enable our members to be
						creative in their lighting design! Highlights include several pairs of moving head spot
						and LED wash fixtures, wireless uplights, and
						over 100 conventional Source Four fixtures. We also have a variety of
						lighting consoles to control them, ranging from small analog
						consoles to large and complex consoles in the EOS and HOG families.
						Now if all that sounds like a bunch of jibberish, come help out at
						one of our events and we will be happy to explain everything. We also
						encourage you to checkout our upcoming workshops!
					</p>
					<a class="btn btn-primary" href="/services/lighting.html">Learn more</a>
				</div>
				<div class="col-lg mb-3">
					<h2>Sound</h2>
					<p>
						Lens and Lights does numerous sound events on campus! They
						range from smaller events like providing a wireless microphone for a
						speaker, to a Capella shows and music on the quad, to full blown
						robotics competitions like BattleCry at WPI. We have several
						different speakers, mics, consoles and more which we use to create the best
						event possible! If you've ever been interested in learning how sound can go
						from a device like your phone out to some of these larger speakers, feel free to stop
						by a sound event and we will show you the ropes (...and the cables)!
					</p>
					<a class="btn btn-primary" href="/services/sound.html">Learn more</a>
				</div>
				<div class="col-lg mb-3">
					<h2>Projection</h2>
					<p>
						LNL maintains several projectors on campus, capable of showing theatre
						quality, full-length feature films. Our digital projector is used to
						show Soccom’s weekend films in the Fuller Upper Perreault Hall. We
						also maintain two 35/70mm film projectors that are more than 50 years old.
						Members can be trained on each of these projectors, starting with
						one of our two 16mm projectors and working their way up through the larger formats.
                        Setup for weekend movies typically happens at 7:30pm on Saturdays and Sundays.
						Come say hello and learn about the fun that is projection. It's a
						reel-y good time!
					</p>
					<a class="btn btn-primary" href="/services/projection.html">Learn more</a>
				</div>
			</div>
			<div class="row py-4 my-4" style="background-color: black; color: white;">
				<div class="col mb-3 small-centered-col">
					<h2 style="color: yellow">Let's Get In Touch!</h2>
					<p>
						For more information, walk up to anyone wearing an LNL t-shirt or
						pushing a road case! We're happy to show you what we're doing.<br>
					</p>
					<p>
						You can also stop by one of our meetings! General Body Meetings
                        are held at 5pm on Wednesdays, and our Executive Board Meetings
                        are at 5pm on Mondays.
					</p>
					<p>
						Any Questions? <a href="mailto:lnl@wpi.edu">Email Us!</a><br>
					</p>
					<p>
						<i class="fa fa-envelope-o fa-3x"></i><br>
						<a href="mailto:lnl@wpi.edu">lnl@wpi.edu</a>
					</p>
				</div>
			</div>
			{% if events %}
				<h2>Upcoming events</h2>
				<p>
					We encourage you to stop by, say hi, and help out at any of our
					events! Anyone is welcome, there is no need to sign up and no
					experience is necessary!
				</p>
				<div class="row">
					{% for event in events %}
						<div class="col-md-6 col-lg-3 mb-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{ event.event_name }}</h5>
									<p>{{ event.location }}</p>
									{% for cci in event.ccinstances.all %}
										<p>{{ cci.category.name }} setup: {{ cci.setup_start|date:'l n/j Hi' }}</p>
									{% endfor %}
									<p>Strike: {{ event.datetime_end|date:'l n/j Hi' }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<a name="join"></a>
		</div>
        <div class="row p-4 mt-4" style="background-color: black; color: white;">
            <div class="col mb-3 small-centered-col">
                <h2>How to Join</h2>
                <p>
                    We encourage you to stop by and chat or help out at any of
                    our events. You can also stop by one of our general body
                    meetings, which are held every Wednesday at 5PM.
                </p>
                <div>
                    <a class="btn btn-primary" href="/list">Upcoming events calendar</a>
                </div>
            </div>
        </div>
        <script>
		function getBackground(){
			var image = Math.floor(Math.random() * 6);
			var background = "/recruitment/img/1.jpg";
			switch (image){
				case 0: case 6:
				break;

				case 1:
				background = "/recruitment/img/2.jpg";
				break;

				case 2:
				background = "/recruitment/img/4.jpg";
				break;

				case 3:
				background = "/recruitment/img/5.jpg";
				break;

				case 4:
				background = "/recruitment/img/6.jpg";
				break;

				case 5:
				background = "/recruitment/img/7.jpg";
				break;
			}
			document.getElementById("head").style.backgroundImage = "url('" + background + "')";
		}

		window.onload = getBackground;
		</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
