{% extends 'base_static.html' %}

{% block carousel %}
    {% if page.imgs.all %}
    <section class="pb-0" style="background-color: #777; border-bottom: 2px solid yellow">
        <div id="slides" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for img in page.imgs.all %}
                <div class="carousel-item full{% if img == page.imgs.all|first %} active{% endif %}"
                     style="background-image: url('{{ img.img.url }}');">
                    {% if img.caption_title or img.caption_desc %}
                    <div class="carousel-caption">
                        <p><span class="head">{{ img.caption_title }}</span> {{ img.caption_desc }}</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if page.imgs.all.count > 1 %}
            <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control-next" href="#slides" role="button" data-slide="next">&rsaquo;</a>
            {% endif %}
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container{% if page.imgs.all %} py-5{% endif %}">
    {% if page.body_in_jumbo %}
        <div class="jumbotron" style="color: black">
            {{ page.body|safe }}
        </div>
    {% else %}
        <h2>{{ page.title }}</h2>
        <br>
        {{ page.body|safe }}
    {% endif %}
    </div>
{% endblock %}
