{% extends 'base_pages.html' %}
{% load markdown_deux_tags %}

{% block content %}



    {% if page.imgs.all %}
    <div id="lnlCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for img in page.imgs.all %}
        <li data-target="#lnlCarousel" data-slide-to="{{ forloop.counter }}" class="{% if forloop.counter == 1 %}active {%endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
      {% for img in page.imgs.all %}
        <div class="item {% if forloop.counter == 1 %}active {%endif %}">
          <img src="{{ MEDIA_URL }}{{img.img}}" alt="">
          <div class="container">
            {% if img.href %}
            <div class="carousel-caption">
              <h1>{{ img.href }}</h1>
              <p>{{ img.href_desc }}</p>
              <p><a class="btn btn-lg btn-primary" href="{% url "page" img.href.slug %}">{{ img.href_words }}</a></p>
            </div>
            {% else %}
            <div class="carousel-caption">
                <h4>{{ img.href_words }}</h4>
                <p>{{ img.href_desc }}</p>
                </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#lnlCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#lnlCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    {% else %}
    <div class="carousel-spacer"></div>
    {% endif %}
    
    
    <div class="container">
    {% if page.body_in_hero %}
    <div class="jumbotron">
    {% endif %}
    
    {{ page.body|markdown }} <BR />
    <div class="clearfix"> </div>
    
    
    {% if page.body_in_hero %}
    </div> <!-- /hero-unit  -->
    {% endif %}
    
    </div> <!-- /container -->
{% endblock %}

{% block finaljs %}
<script type="text/javascript">
      !function ($) {
        $(function(){
          // carousel demo
          $('#lnlCarousel').carousel()
        })
      }(window.jQuery)
</script>
{% endblock %}
