{% extends 'base_admin.html' %}
{% load bootstrap_toolkit %}
{% load markdown_deux_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head %}
{% endblock %}

{% block overrides %}
    <link href="{% static 'css/bootstrap-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
{# lol don't question it #}
{% endblock %}


{% block extras %}
{% endblock %}


{% block content %}
    {% if REVISION %}
<h1>LNLDB is running Git Revision {{ REVISION }}</h1>
        <p>{{ CHANGELOG }}</p>
    {% endif %}
{% endblock %}