{% extends 'base_admin.html' %}
{% block title %}Cannot Edit Report | Lens and Lights at WPI{% endblock %}
{% block content %}
<h1>Cannot Edit Report</h1>
<p>
    It has been more than {{ days }} days since the end of {{ event.event_name }}, so the Vice President will have
    already used existing crew cheif reports to evaluate the billing of this event. If you have edits you would like
    to make to your report please contact the VP directly (at lnl-vp@wpi.edu) who can make the changes. 
</p>
<p>
    These reports are invaluable to future LNL members, and we thank you for taking the time to write one!
</p>
{% endblock %}
