{% extends 'base_admin.html' %}
{% load permissionif %}
{% block title %}LNL Authorized Members | Lens and Lights at WPI{% endblock %}
{% block content %}
<div class="pull-right">
    <a class="btn btn-lg btn-success" href="{% url 'members:training:list' %}">View All Trainings</a>
</div>
<h2> LNL Authorized Members</h2>
<h4> Authorized Callers</h4>
<table class="table table-striped table-bordered table-condensed">
    <tr> 
        <th>Full Name</th>
        <th>LNL Position</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    {% for user in callers %}
        <tr>
            <td>
                <a href="{% url 'accounts:detail' user.pk %}"><strong>{{ user.name }}</strong></a>{% if user.pronouns %} ({{ user.pronouns }}){% endif %}
            </td>
            <td>
                {% if user.is_fl %}Facilities Liaison{% if user.exec_position %} and {{ user.exec_position.title }}{%endif%}
                {% elif user.exec_position %}{{ user.exec_position.title }}
                {% else %}Active Member and Authorized Caller{% endif %}
            </td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}
    
</table>

<h4>Members Trained & Authorized for Alden Stage Rigging & Above-Stage Access</h4>
<table class="table table-striped table-bordered table-condensed">
    <tr> 
        <th>Full Name</th>
        <th>LNL Position</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Training Date</th>
    </tr>
    {% for trainee in batten_users %}
        <tr>
            <td>
                <a href="{% url 'accounts:detail' trainee.person.pk %}"><strong>{{ trainee.person.name }}</strong></a>{% if trainee.person.pronouns %} ({{ trainee.person.pronouns }}){% endif %}
            </td>
            <td>
                {% if trainee.person.exec_position %}{{ trainee.person.exec_position.title }}
                {% elif trainee.is_fl %}Facilities Liaison
                {% else %}Authorized Member{% endif %}
            </td>
            <td>{{ trainee.person.phone_number }}</td>
            <td>{{ trainee.person.email }}</td>
            <td>{{ trainee.training.date }}</td>
        </tr>
    {% endfor %}
    
</table>
{% endblock %}
