{% extends 'base_admin.html' %}
{% load at_user_linking %}
{% load at_event_linking %}
{% load markup %}
{% block content %}
    <div class="row-fluid">
        <div class="span3">
            <h1> {{event }}:</h1>
        </div>
        <div class="span2">
            <h3>Status: {{ event.status }}</h3>
        </div>
        <div class="span3">
            <h3>Client{% if event.org.count > 1 %}s{% endif %}: {% for org in event.org.all %}<a href="{% url "admin-orgdetail" org.id %}">{{ org.retname }}</a> &nbsp;{% endfor %}</h3>
        </div>
        <div class="span4">
            <h3>Actions:
            {% if event.cancelled or event.closed %}
            <a class="btn btn-info btn-large" href="{% url "events-pdf" event.id %}">PDF</a>
            
            {% elif event.paid and not event.closed %} 
            <div class="btn-group">
                <a class="btn btn-inverse btn-large" href="#closeModal" role="button" data-toggle="modal">Close</a>
                <a class="btn btn-info btn-large" href="{% url "events-pdf" event.id %}">PDF</a>
            </div>
            
            {% elif not event.reviewed and event.approved %}
            <div class="btn-group">
                <a class="btn btn-success btn-large" href="{% url "events.views.flow.review" event.id %}">Review For Billing</a>
                <a class="btn btn-warning btn-large" href="{% url "events.views.mkedrm.eventnew" event.id %}">Edit</a>
                <a class="btn btn-inverse btn-large" href="#closeModal" role="button" data-toggle="modal">Close</a>
                <a class="btn btn-info btn-large" href="{% url "events-pdf" event.id %}">PDF</a>
            </div>
            {% elif event.approved and not event.paid and not event.closed and event.reviewed %}
            <div class="btn-group">
                <a class="btn btn-primary btn-large" href="{% url "event-mkbilling" event.id %}">Create Bill</a>
                <a class="btn btn-warning btn-large" href="{% url "events.views.mkedrm.eventnew" event.id %}">Edit</a>
                <a class="btn btn-inverse btn-large" href="#closeModal" role="button" data-toggle="modal">Close</a>
                <a class="btn btn-info btn-large" href="{% url "events-pdf" event.id %}">PDF</a>
            </div>

            {% elif not event.approved and not event.closed or not event.cancelled and not event.closed %}
            <div class="btn-group">
                <a class="btn btn-success btn-large" href="{% url "events.views.flow.approval" event.id %}">Approve</a>
                <a class="btn btn-danger btn-large" href="{% url "events.views.flow.denial" event.id %}">Cancel</a>
                <a class="btn btn-warning btn-large" href="{% url "events.views.mkedrm.eventnew" event.id %}">Edit</a>
            </div>

            {% else %}
            <a class="btn btn-info btn-large" href="{% url "events-pdf" event.id %}">PDF</a>
            <a class="btn btn-inverse btn-large" href="#closeModal" role="button" data-toggle="modal">Close</a>
            {% endif %}
            </h3>

            <!-- CloseModal -->
            <div id="closeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="closeModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="closeModalLabel">Sure?</h3>
                </div>
                <div class="modal-body">
                    <p>Once this event is closed it's closed.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <a class="btn btn-primary" href="{% url "event-close" event.id %}">Yes I'm Sure</a>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Detail</a></li>
                <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
                <li><a href="#services" data-toggle="tab">Services</a></li>
                <li><a href="#crew" data-toggle="tab">Crew</a></li>
                <li><a href="#reports" data-toggle="tab">Reports</a></li>
                <li><a href="#billing" data-toggle="tab">Billing</a></li>
                <li><a href="#files" data-toggle="tab">Files</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="home" class="tab-pane active">
                    <table class="table">
                        <tr>
                            <th>Posted Description</th>
                            <td>{{ event.description|mduserlink|mdeventlink|markdown }}</td>
                        </tr>
                        <tr>
                            <th>Event Contact Name</th>
                            <td>{% if event.contact %}<a href="{% url "memberdetail" event.contact.id %}">{{ event.contact.get_full_name }}</a>{% else %}No Contact Set {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Event Contact Phone</th>
                            <td>{{ event.contact.profile.phone }}</td>
                        </tr>
                        <tr>
                            <th>Event Contact Email</th>
                            <td>{{ event.contact.email }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{event.location}} <em>({{ event.location.building }})</em></td>
                        </tr>
                        <tr>
                            <th>Submitted by</th>
                            <td><a href="{% url "memberdetail" event.submitted_by.id %}">{{event.submitted_by.get_full_name }}</a></td> 
                        </tr>
                        <tr>
                            <th>Submitted on</th>
                            <td>{{ event.submitted_on }} </td>
                        </tr>
                        <tr>
                            <th>Submitted from</th>
                            <td>{{event.submitted_ip}}</td>
                        </tr>
                        <tr>
                            <th>Approved by/on</th>
                            <td>
                                {% if event.approved_by %} 
                                    <a href="{% url "memberdetail" event.approved_by.id %}">{{ event.approved_by.get_full_name }}</a> on {{ event.approved_on }}      
                                {% else %}
                                    Needs Approval 
                                {% endif %}
                        </tr>
                        <tr>
                            <th>Cancelled by/on</th>
                            <td>
                                {% if event.cancelled_by %} 
                                    <a href="{% url "memberdetail" event.cancelled_by.id %}">{{ event.cancelled_by.get_full_name }}</a> on {{ event.cancelled_on }}      
                                {% else %}
                                    N/A 
                                {% endif %}
                        </tr>
                        <tr>
                            <th>Closed by/on</th>
                            <td>
                                {% if event.closed_by %} 
                                    <a href="{% url "memberdetail" event.closed_by.id %}">{{ event.closed_by.get_full_name }}</a> on {{ event.closed_on }}      
                                {% else %}
                                    N/A
                                {% endif %}
                        </tr>
                        {% if event.reviewed %}
                        <tr>
                            <th>Reviewed for billing by/on</th>
                            <td>
                            <a href="{% url "memberdetail" event.reviewed_by.id %}">{{ event.reviewed_by.get_full_name }}</a> on {{ event.reviewed_on }}
                            </td>
                        </tr>
                        {% endif %}
                    </table>

                </div>
                <div id="schedule" class="tab-pane">
                    <table class="table">
                        {% for cc in event.ccinstances.all|dictsort:"setup_start" %}
                        <tr>
                            <th>Setup For {{ cc.service }}</th>
                            <td>{{cc.setup_start}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Setup Completion</th>
                            <td>{{event.datetime_setup_complete}}</td>
                        </tr>
                        <tr>
                            <th>Start</th>
                            <td>{{event.datetime_start }}</td>
                        </tr>
                        <tr>
                            <th>End</th>
                            <td>{{event.datetime_end}}</td>
                        </tr>
                    </table>
                </div>
                <div id="services" class="tab-pane">
                    <div class="pull-right"><a class="btn btn-large" href="{% url "eventextras" event.id %}">Modify Extras</a></div>
                    {% if event.lighting %}
                        <h2>Lighting Services ({{ event.lighting }})</h2>
                        <h3>Requirements:</h3>
                            <pre>{{ event.lighting_reqs }}</pre>
                        {% if event.extras_lighting %}
                        <h3>Extras:</h3>
                            <ul>
                                {% for e in event.extras_lighting %}
                                    <li>{{ e.extra }} x{{ e.quant }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                    
                    {% if event.sound %}
                        <h2> Sound Services ({{ event.sound }})</h2>
                        <h3>Requirements:</h3>
                            <pre>{{ event.sound_reqs }}</pre>
                        {% if event.extras_sound %}
                        <h3>Extras:</h3>
                            <ul>
                                {% for e in event.extras_sound %}
                                    <li>{{ e.extra }} x{{ e.quant }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                    
                    {% if event.projection %}
                        <h2> Projection Services ({{ event.projection }})</h2>
                        <h3>Requirements:</h3>
                            <pre>{{ event.proj_reqs }}</pre>
                        {% if event.extras_projection %}
                        <h3>Extras:</h3>
                            <ul>
                                {% for e in event.extras_projection %}
                                    <li>{{ e.extra }} x{{ e.quant }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                    
                    {% if event.otherservices.exists %}
                        <h2> Other Services </h2>
                        <ul>
                            {% for s in event.otherservices.all %}
                                <li>{{ s }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if event.extras_other %}
                        <h3>Additional Extras:</h3>
                            <ul>
                                {% for e in event.extras_other %}
                                    <li>{{ e.extra }} x{{ e.quant }}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    
                </div>
                <div id="crew" class="tab-pane">
                    <a class="btn btn-large pull-right" href="{% url "events.views.flow.assigncc" event.id %}">Modify</a>
                    <h2> Crew Chief(s) </h2>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Setup Location</th>
                            <th>Setup Time</th>
                            <th>Service</th>
                        </th>
                        {% for cc in event.ccinstances.all %}
                        <tr>
                            <td>
                                <a href="{% url "memberdetail" cc.crew_chief.id %}">{{ cc.crew_chief.get_full_name }}</a>
                            </td>
                            <td>
                                {{ cc.setup_location }}
                            </td>
                            <td>
                                {{ cc.setup_start }}
                            </td>
                            <td>
                                {{ cc.service }}
                            </td>
                        {% endfor %}
                    </table>
                    
                    <a class="btn btn-large pull-right" href="{% url "events.views.flow.assigncrew" event.id %}">Modify</a>
                    <h2> Crew </h2>
                    <ul>
                        {% for c in event.crew.all %}
                        <li><a href="{% url "memberdetail" c.id %}">{{ c }}</a></li>
                        {% endfor %}
                    </ul>
                    
                </div>
                <div id="reports" class="tab-pane">
                    {% if not event.closed or not event.cancelled %}
                        <div class="pull-right">
                            <a clas="btn" href="{% url "event-mkccr" event.id%}">New</a>
                        </div>
                    {% endif %}
                    <h2>Reports</h2>
                    {% for report in event.ccreport_set.all %}
                        <h4>Report by {{report.crew_chief }}</h4> 
                        <em class="muted pull-right">
                            Posted on {{ report.created_on }} <br />
                            {% if report.created_on != report.updated_on %}
                                Last Updated: {{ report.updated_on }}
                            {% endif %}
                            {% if not event.closed or not event.cancelled %}
                            <br />
                            <a href="{% url "event-updccr" event.id report.id %}">Edit</a> / 
                            <a href="{% url "event-rmccr" event.id report.id %}">Delete</a>
                            {% endif %}
                        </em>
                        
                        <blockquote>
                            {{ report.report|mduserlink|markdown }}
                            {% comment %} <small>For {{ report.pretty_cat_list }}</small>{% endcomment %}
                        </blockquote> 
                        
                    {% empty %}
                        <h3>No Reports Submitted </h3>
                    {% endfor %}
                    {% if event.crew_needing_reports %}
                        <h4> Crew Chiefs Needing Reports </h4>
                        <ul>
                        {% for crew in event.crew_needing_reports %}
                            <li><a href="{% url "memberdetail" crew.crew_chief.id %}">{{ crew.crew_chief.get_full_name }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <h2> Hours </h2>
                    <table class="table">
                        <thead>
                            <th>Member</th>
                            <th>Hours</th>
                        </thead>
                        {% for hour in event.hours.all %}
                            <tr>
                                <td><a href="{% url "memberdetail" hour.user.id %}">{{ hour.user.get_full_name }}</a></td>
                                <td>{{ hour.hours }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="billing" class="tab-pane">
                    <div class="pull-right btngroup">
                        <a class="btn btn-large" href="{% url "eventextras" event.id %}">Modify Extras</a>
                        <a class="btn btn-large" href="{% url "eventoneoff" event.id %}">Add OneOff Charges</a>
                    </div>
                    <h2>Price Breakdown</h2>
                    <style> .tdra { text-align: right; }</style>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        {% if event.lighting %}
                        <tr class="success">
                            <td>{{event.lighting}}</td>
                            <td class="tdra">${{ event.lighting.base_cost }}</td>
                        </tr>
                        {% endif %}
                        {% if event.extras_lighting.exists %}
                        {% for extra in event.extras_lighting %}
                        <tr>
                            <td>{{ extra.extra }} <strong>x{{extra.quant}} </strong></td>
                            <td class="tdra">${{ extra.totalcost }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                        {% if event.sound %}
                        <tr class="success">
                            <td>{{event.sound}}</td>
                            <td class="tdra">${{ event.sound.base_cost }}</td>
                        </tr>
                        {% endif %}
                        {% if event.extras_sound.exists %}
                        {% for extra in event.extras_sound %}
                        <tr>
                            <td>{{ extra.extra }} <strong>x{{extra.quant}} </strong></td>
                            <td class="tdra">${{ extra.totalcost }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                        {% if event.projection %}
                        <tr class="success">
                            <td>{{event.projection}}</td>
                            <td class="tdra">${{ event.projection.base_cost }}</td>
                        </tr>
                        {% endif %}
                        
                        {% if event.otherservices.exists %}
                            {% for service in event.otherservices.all %}
                                <tr class="success">
                                    <td>{{ service }}</td>
                                    <td class="tdra">${{ service.base_cost }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        
                        {% for e in event.extras_other %}
                        <tr>
                            <td>{{ e.extra }} <strong>x{{ e.quant }}</strong></td>
                            <td class="tdra">${{ e.totalcost }}</td>
                        </tr>
                        {% endfor %}
                        
                        {% if event.discount_applied %}
                        <tr class="warning">
                            <td> Pre Discount Total </td>
                            <td class="tdra">${{ event.cost_total_pre_discount }} </td>
                        </tr>
                        <tr class="warning">
                                    <td>15% Discount Applied</td>
                                    <td style="color:red;" class="tdra">-${{ event.discount_value|floatformat:2}}</td>
                                </tr>
                        {% endif %}
                        
                        {% for oo in event.oneoffs %}
                        <tr>
                            <td>{{ oo.key_name }} ({{ oo.key_value }}) <strong>x{{ oo.key_quantity }}</strong></td>
                            <td {% if oo.negative %} style="color:red;" {% endif %}" class="tdra">
                                {% if oo.negative %}-{% endif %}${{ oo.abs_cost }}
                            </td>
                        </tr>
                        {% endfor %}
                        
                        
                        <tr class="info">
                            <td>Total</td>
                            <td>${{ event.cost_total|floatformat:2 }}</td>
                        </tr>
                    </table>
                    <h2> Bills </h2>
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Date Billed</th>
                            <th>Date Paid</th>
                            <th>Amount</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    {% for billing in event.billings.all %}
                        <tr>
                            <td>{{ billing.date_billed }}</td>
                            <td>{{ billing.date_paid }}</td>
                            <td>{{ billing.amount }}</td>
                            <td>
                                {% if not event.closed %}
                                <a class="btn btn-link" href="{% url "event-updbilling" event.id billing.id %}">Update</a>
                                {% if not billing.date_paid %}<a class="btn btn-link" href="{% url "event-rmbilling" event.id billing.id %}">Delete</a>{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                    
                    <h2> No Bills Posted </h2>
                    {% endfor %}
                    </table>
                </div>
                <div id="files" class="tab-pane">
                    <div class="pull-right">{% if not event.closed %}<a class="btn btn-warning" href="{% url "eventattachments" event.id %}">Edit</a>{% endif %}</div>
                    <h2> Files </h2> 
                    <table class="table">
                        <tr>
                            <th>Service</th>
                            <th>Notes</th>
                            <th>File Name</th>
                            <th></th>
                        </tr>
                        {% for a in event.attachments.all %}
                        <tr>
                            <td>{{ a.for_service }}</td>
                            <td>{{ a.note }}</td>
                            <td>{{ a.attachment.name }}</td>
                            <td><a class="btn" href="{{ a.attachment.url }}">Link</a></td>
                        </tr>
                        
                        
                        {% empty %}
                        <tr><td colspan="4">No files have been uploaded</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}