
{% extends 'base_admin.html' %}
{% load permissionif %}
{% block content %}
<h2> {{ h2 }} </h2>
<table class="table table-striped table-bordered">
    <tr> 
        <th>Full Name</th>
        <th>User Name</th>
        <th>E-Mail</th>
        {% if positions_column %}
            <th>Position</th>
        {% endif %}
        <th>Class Year</th>
        {% permission request.user has 'accounts.view_user' %}
            {% if accounts_disabled_column %}
                <th>Account Disabled</th>
            {% endif %}
        {% endpermission %}
    </tr>
    {% for user in users %}
            <tr>
                <td>{{ user.last_name }}, {{ user.first_name }}</td>
                <td><a href="{% url "accounts:detail" user.id %}">{{ user }}</a></td>
                <td>{{ user.email }}</td>
                {% if positions_column %}
                    <td>{{ user.title }}</td>
                {% endif %}
                <td>{% if user.class_year %}{{ user.class_year }}{% endif %}</td>
                {% permission request.user has 'accounts.view_user' %}
                    {% if accounts_disabled_column %}
                        <td>
                            {% if not user.is_active %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endpermission %}
            </tr>
    {% endfor %}
</table>
<div><b>Total:{{ users | length }}</b></div>
{% endblock %}
