{% extends 'base_admin.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Voting</h3>
            </div>
            <table class="table">
                <tr>
                    <td>Active members</td>
                    <td>{{ num_active }}</td>
                    <td>The total voting membership.</td>
                </tr>
                <tr>
                    <td>Quorum</td>
                    <td>{{ simple_majority }}</td>
                    <td>This many active members must be "present in person or by absentee vote" at "business meetings at which votes are taken."</td>
                </tr>
                <tr>
                    <td>Simple majority of the voting membership</td>
                    <td>{{ simple_majority }}</td>
                    <td>This many yes votes are required to pass amendments to appendices to the bylaws.</td>
                </tr>
                <tr>
                    <td>Two-thirds supermajority of the voting membership</td>
                    <td>{{ two_thirds_majority }}</td>
                    <td>This many yes votes are required to pass amendments to the bylaws.</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Members to activate</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for member in members_to_activate %}
                        <li><a href="{% url 'accounts:detail' member.pk %}">{{ member }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-footer">This tool is not authoritative. The Secretary should always manually verify whether someone meets the activation requirements.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Members to deactivate</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for member in members_to_deactivate %}
                        <li><a href="{% url 'accounts:detail' member.pk %}">{{ member }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-footer">This tool is not authoritative. The Secretary should always manually verify whether someone meets the deactivation requirements.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Members to associate</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for member in members_to_associate %}
                        <li><a href="{% url 'accounts:detail' member.pk %}">{{ member }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-footer">This tool is not authoritative. The Secretary should always manually verify whether someone meets the requirements to become an Associate member.</div>
        </div>
    </div>
</div>
{% endblock %}