{% extends 'base_admin.html' %}
{% load permissionif %}

{% block content %}
	<div class="container">
		<h2>User Guides & Datasheets</h2>
		<div style="padding-top: 1%">
			{% permission request.user has 'inventory.edit_guides' %}
			<h4>Templates</h4>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-striped table-bordered">
						<tr> 
							<th> Name </th>
							<th> Last Modified </th>
							<th> Link </th>
						</tr>
						{% if not tmpls %}
						<tr>
							<td colspan="3">There are currently no templates available</td>
						</tr>
						{% endif %}
						{% for tmpl in tmpls %}
						<tr>
							<td>{{tmpl.name}}</td>
							<td>{{tmpl.date_modified}}</td>
							<td><a href="{{tmpl.file.url}}" class="btn btn-primary">Download</a></td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="container">
					<!-- TODO: Add option for uploads? -->
				</div>
			</div>
			<br>
			{% endpermission %}
			<h4>Guides</h4>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped table-bordered">
						<tr> 
							<th> File Name </th>
							<th> Last Modified </th>
							<th> Link </th>
						</tr>
						{% if not guides %}
						<tr>
							<td colspan="3">There are currently no user guides available</td>
						</tr>
						{% endif %}
						{% for guide in guides %}
						<tr>
							<td class="col-md-6">{{guide.name}}</td>
							<td class="col-md-3">{{guide.date_modified}}</td>
							<td class="col-md-2"><a href="{{guide.file.url}}" class="btn btn-primary">View</a></td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<br>
			<h4>Datasheets</h4>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped table-bordered">
						<tr> 
							<th> File Name </th>
							<th> Last Modified </th>
							<th> Link </th>
						</tr>
						{% if not datasheets %}
						<tr>
							<td colspan="3">There are currently no datasheets available</td>
						</tr>
						{% endif %}
						{% for sheet in datasheets %}
						<tr>
							<td class="col-md-6">{{sheet.name}}</td>
							<td class="col-md-3">{{sheet.date_modified}}</td>
							<td class="col-md-2"><a href="{{sheet.file.url}}" class="btn btn-primary">View</a></td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
{% endblock %}
