{% extends 'base_admin.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h1> {{u}} </h1>
                {% if u.first_name %}
                    {{ u.first_name }} {{ u.last_name }}
                {% endif %}
                <div class="pull-right">
                    <a class="btn btn-info btn-large" href="{% url "memberupdate" u.id %}">Modify</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h3>Stats</h3>
            <table class="table">
                <tr>
                    <th>Status</th>
                    <td>{{ u.groups.all }}</td>
                </tr>
                <tr>
                    <th>Events CCd:</th>
                    <td>{{u.crewchiefx.count}}</td>
                </tr>
                <tr>
                    <th>Events Participated:</th>
                    <td>{{u.hours.count}}</td>
                </tr>
                <tr>
                    <th>Films CC'd</th>
                    <td>TODO</td>
                </tr>
                <tr>
                    <th>Meeting Attendance Count</th>
                    <td>{{ u.meeting_set.count }}</td>
                </tr>
            </table>
            <h3> Contact </h3>
            <table class="table">
                <tr>
                    <th>WPI Box</th>
                    <td>{{ u.profile.wpibox }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ u.profile.phone }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{u.profile.address}}</td>
                </tr>
                <tr>
                    <th>MDC</th>
                    <td>TODO</td>
                </tr>
            </table>
        </div>
        <div class="span4">
            <h3>Events CC'd</h3>
            <ul class="unstyled"> 
                {% for event in u.crewchiefx.all %}
                    <li><a href="{% url "events-detail" event.id %}">{{ event }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span4">
            <h3>Events Participated</h3>
            <ul class="unstyled"> 
                {% for h in u.hours.all %}
                    <li><a href="{% url "events-detail" h.event.id %}">{{ h.event }}:</a> {{ h.hours }}h</li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
     
{% endblock %}