{% extends "pdf_templates/pdf_base.html" %}
{% load static %}
{% load tz %}
{% block body %}
{% for event_data in events_data %}
<!-- have mercy on the soul of the following html.

    XHTML2PDF/Pisa supports a subset of HTML0 and CSS0. Everything is finicky, and anything past a single-
        element selector is just asking for disaster. Also, nothing was displayed without a table. I'm taking a chance
        just by writing this comment. FUCK THIS CODE.
-->
<div>
            <table>
                <tr>
                <td class="logo"><img id="logo-img" src="{% static 'img/pdf-lnl-logo.png' %}" width="200" height="150"></td>
                <td class="lnl-contact">
                <ul class="list-unstyled">
                    <h2 class="contact-name">WPI&nbsp;Lens&nbsp;and&nbsp;Lights</h2>
                    <li>c/o Student Activities Office</li>
                    <li>100 Institute Road</li>
                    <li>Worcester, MA  01609-2280</li>
                    <br>
                    <li>Office: 508-831-5595</li>
                    <li><a href="mailto:lnl@wpi.edu" class="unstyled">lnl@wpi.edu</a></li>
                    {% if request %}
                    <li><a href="https://lnl.wpi.edu/" class="unstyled">https://lnl.wpi.edu/</a></li>
                    {% endif %}
                    <br>
                </ul>

                </td>
                <td class="head">
                    <h1 class="megatext">{% if event_data.event.reviewed %}INVOICE{% else %}QUOTE{% endif %}</h1>
                    <h2 class="subtext">{{ event_data.event.event_name }}</h2>
                    <p class="subtext"><b>Generated Date:</b> {% now "M. j, Y" %}</h2>
                </td>
                </tr>
            </table>
            <table class="info" style="font-weight: normal">
                <tr>
                    <td width="100"><b>Location:</b></td>
                    <td width="300">{{ event_data.event.location }}</td>
                    <td width="75"><b>Setup By:</b></td>
                    <td width="200">{{ event_data.event.setupbytime|localtime }}</td>
                </tr>
                <tr>
                    <td><b>Organization:</b></td>
                    <td>{{ event_data.event.org.all|join:", " }}</td>
                    <td><b>Event Start:</b></td>
                    <td>{{ event_data.event.datetime_start|localtime }}</td>
                </tr>
                <tr>
                    <td><b>Billed Account:</b></td>
                    <td>{{ event_data.event.worktag }}</td> 
                    <td><b>Event End:</b></td>
                    <td>{{ event_data.event.datetime_end|localtime }}</td>
                </tr>
            </table>
            <b class="info">Overview:</b> {{ event_data.event.description }}
            <hr>
            <table class="line-items">
                <tr>
                    <th style="text-align: left">Description</th>
                    <th width="50">Cost</th>
                </tr>
                </table><hr>
            <table class="line-items">
                {% for service in event_data.event.eventservices %}
                <tr>
                    <td>{{service}}</td>
                    <td class="align-right" width="50">$ {{ service.base_cost|floatformat:2 }}</td>
                </tr>
                {% endfor %}

                {% for cat, cat_e in event_data.extras.items %}
                <tr>
                    <td>{{ cat }} Extras</td>
                    <td></td>
                </tr>
                {% for e in cat_e %}
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ e.extra }} [x{{ e.quant }}]</td>
                    <td class="align-right">$ {{ e.totalcost|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
                {% if event_data.event.oneoffs %}
                <tr>
                    <td>Additional Fees</td>
                    <td></td>
                </tr>
                {% for fee in event_data.event.oneoffs %}
                <tr>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ fee.key_name }} [{{ fee.key_value|floatformat:2}}x{{ fee.key_quantity }}]</td>
                    <td class="align-right">$ {{ fee.totalcost|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </table><hr>
                {% if event_data.event.discount_applied %}
        <table class="line-items">
                <tr>
                    <td>Subtotal</td>
                    <td width="50" class="align-right">$ {{ event_data.event.cost_total_pre_discount|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Combo Event Discount</td>
                    <td class="align-right">$ -{{ event_data.event.discount_value|floatformat:2 }}</td>
                </tr>
        </table><hr>
        {% endif %}
        <table class="line-items">
                 <tr>
                    <td><b>***EVENT TOTAL***</b></td>
                    <td class="align-right" width="50"><b>$ {{ event_data.event.cost_total|floatformat:2 }}</b></td>
                </tr>
            </table>
        <hr>
<table class="center">
{% if event_data.event.reviewed %}
    <tr><td>Visit <a class="unstyled" href="{{ request.scheme }}://{{ request.get_host }}{% url 'events:worktag-form' event_data.event.pk %}">{{ request.get_host }}{% url 'events:worktag-form' event_data.event.pk %}</a> to pay this Invoice.</td></tr>
    <tr><td><p>If you have any questions concerning this invoice, contact our treasurer at <a class="unstyled" href="mailto:lnl-t@wpi.edu">lnl-t@wpi.edu</a>.</td></tr>
{% else %}
    <tr><td>
        This is a quote of the expected charges based on the current information from the client.
        Charges may change based on a variety of factors, including additional requests or information from the client, even those received day-of at the event.
        We will do our best to inform the listed contact of any charges in advance, but this is not guaranteed.
    </td></tr>
    <tr><td><p>If you have any questions concerning this quote, contact our vice-president at <a class="unstyled" href="mailto:lnl-vp@wpi.edu">lnl-vp@wpi.edu</a>.</td></tr>
{% endif %}
</table>
</div>
<div><pdf:nextpage /></div>
{% endfor %}
{% endblock %}
