{% extends "pdf_templates/pdf_base.html" %}
{% load static %}
{% load tz %}
{% load lnldb_tags %}
{% block body %}
<!-- have mercy on the soul of the following html.

    XHTML2PDF/Pisa supports a subset of HTML0 and CSS0. Everything is finicky, and anything past a single-
        element selector is just asking for disaster. Also, nothing was displayed without a table. I'm taking a chance
        just by writing this comment. FUCK THIS CODE.
-->
<div>
            <table>
                <tr>
                <td class="logo"><img id="logo-img" src="{% static 'img/pdf-lnl-logo.png' %}" width="200" height="150"></td>
                <td class="lnl-contact">
                <ul class="list-unstyled">
                    <h2 class="contact-name">WPI&nbsp;Lens&nbsp;and&nbsp;Lights</h2>
                    <li>c/o Student Activities Office</li>
                    <li>100 Institute Road</li>
                    <li>Worcester, MA  01609-2280</li>
                    <br>
                    <li>Office: 508-831-5595</li>
                    <li><a href="mailto:lnl@wpi.edu" class="unstyled">lnl@wpi.edu</a></li>
                    {% if request %}
                    <li><a href="{{ request.scheme }}://{{ request.get_host }}/" class="unstyled">{{ request.scheme }}://{{ request.get_host }}/</a></li>
                    {% endif %}
                    <br>
                </ul>

                </td>
                <td class="head">
                    <h1 class="megatext">INVOICE</h1>
                    <h2 class="subtext">{{ multibilling.num_events }} events</h2>
                    <h2 class="subtext"><b>Generated Date:</b> {% now "M. j, Y" %}</h2>
                </td>
                </tr>
            </table>
            <table class="info" style="font-weight: normal">
                <tr>
                    <td width="300"><b>Sponsoring Organizations:</b></td>
                    <td width="300">{{ orgs|join:", " }}</td>
                    <td width="300"><b>First Event Start Date:</b></td>
                    <td width="200">{{ events.first.datetime_start|localtime|date }}</td>
                </tr>
                <tr>
                    <td><b>Organization billed:</b></td>
                    <td>{{ billing_org }}</td>
                    <td><b>Last Event End Date:</b></td>
                    <td>{{ events.last.datetime_end|localtime|date }}</td>
                </tr>
            </table>
            <hr>
            <table class="line-items">
                <tr>
                    <th style="text-align: left">Event</th>
                    <th width="50">Cost</th>
                </tr>
                </table><hr>
            <table class="line-items">
                {% for event in events %}
                <tr>
                    <td>{{ event.event_name|public_field }}</td>
                    <td class="align-right" width="50">$ {{ event.cost_total|floatformat:2 }}</td>
                </tr>
                {% endfor %}

            </table><hr>
        <table class="line-items">
                 <tr>
                    <td><b>***TOTAL***</b></td>
                    <td class="align-right" width="50"><b>$ {{ total_cost|floatformat:2 }}</b></td>
                </tr>
            </table>
        <hr>
<table class="center">
    <tr><td><p>If you have any questions concerning this invoice, contact our treasurer at <a class="unstyled" href="mailto:lnl-t@wpi.edu">lnl-t@wpi.edu</a>.</td></tr>
    <tr>
        <td>
            <center>THANK YOU FOR YOUR BUSINESS!</center>
        </td>
    </tr>
</table>
    </div>
{% endblock %}
