{% extends "pdf_templates/pdf_base.html" %}

{% block body %}
<div>
    {% for event in events %}

        {% for service in event.eventservices %}
            {% include 'pdf_templates/event-body.html' with event=event service=service %}
            
            {% if not forloop.last %}
            <div><pdf:nextpage /></div>
            {% endif %}
        {% empty %}
            {% include 'pdf_templates/event-body.html' with event=event %}
        {% endfor %}
        <div><pdf:nextpage /></div>
    {% endfor %}
</div>
{% endblock %}
