{% extends 'base_admin.html' %}
{% load bootstrap_toolkit %}
{% load markdown_deux_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block head %}
    {% if wizard.form.forms %}
        {% for form in wizard.form.forms %}
            {{ form.media }}
        {% endfor %}
    {% else %}
        {{ wizard.form.media }}
    {% endif %}
{% endblock %}

{% block extras %}
{% endblock %}


{% block content %}
<div class="row">
    
    <div class="col-md-10 col-md-offset-1">
        <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {{ wizard.steps.current|title }}</h2>
        {% if help_name %}
        <div class="pull-right">    
            <a href="#helpmodal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Need Help?</a>
        </div>
        {% endif %}
        <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}

        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form|crispy }}
            {% endfor %}
        {% else %}
            {% crispy wizard.form %}
        {% endif %}
        <br />
            <div class="row">
                <div class="col-md-12">
                    {% if wizard.steps.prev %}
                    <button class="btn btn-info btn-lg" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
                    <button class="btn btn-info btn-lg" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev step" %}</button>
                    <!-- <input name="wizard_goto_step" class="btn btn-primary  btn-lg" type="submit" value="prev"/> -->
                    {% endif %}
                    {% if not wizard.steps.last == wizard.steps.current %}
<!--                     <span class="btn btn-right"> -->
                        <input class="btn btn-primary btn-lg" type="submit" value="{% trans "Next Step" %}"/>
<!--                     </span> -->
                    {% else %}
<!--                     <span class="btn btn-send"> -->
                        <input class="btn btn-primary btn-lg" style="outline: medium none; opacity: 1;" type="submit" value="{% trans "Finish" %}"/>
<!--                     </span> -->
                    {% endif %}
                </div>
                   
            </div>
        </form>
        
    </div>

    {# Help Modal #}

    <div id="helpmodal" class="modal fade">
        <div class="modal-dialog modal-lg" style="width:80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ help_name }} Help</h3>
                    {% if extras %}
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tservice" data-toggle="tab">Service Levels</a></li>
                        <li><a href="#textras" data-toggle="tab">Extras</a></li>
                    </ul>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tservice">
                            {% for o in help_objs %}
                            <h2>{{ o.longname }} (${{ o.base_cost }})</h2>
                                {{ o.help_desc|markdown }}
                            {% endfor %}
                        </div>
                        {% if extras %}
                        <div class="tab-pane" id="textras">
                            <table class="table table-bordered">
                                {% for e in extras %}
                                    <!--<div class="hide">
                                    <div id="e_{{e.id }}" class="{% for s in e.services.all %}s_{{s.id}} {% endfor %}"></div>
                                </div>-->
                                <tr>
                                    <td><b>{{ e.name }}:</b> {{e.desc}}</td>
                                    <td>{{ e.cost }}</td>
                                    
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}