{% extends 'eventform/base_wo.html' %}
{% load i18n %}
{% block extras %}
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.radio').addClass("btn btn-danger btn-large");
            $('.radio input').hide();
            $('.radio').button();
            $('input:checked').parent().button('toggle');
            $('.radio').parent().attr("data-toggle","buttons-radio")//.addClass('btn-group')
            $('.radio').parent().mousedown(function () {
                $(this).button('toggle');
                $(this).siblings().button('reset');
                });
            // checkboxes
            $('.checkboxinput').addClass('btn');
            });
            
            
    </script>
    <style>
        li {float:left; margin: 3px; list-style-type:none}
        /* fix tiny button issue */
        .controls > .radio:first-child {padding-top:11px;}
        .controls > .radio {padding-top:11px;}
        .btn {margin:2px}
    </style>
{% endblock %}